[2016-12-19 10:51] artem-zinnatullin opened #2 "Add support for GZIP level 0"
At the moment script does not work with uncompressed tars. If you're able to work with `remote-build-machine` at speeds near to 1 GB/s you actually lose time on compression.

[2016-12-19 10:54] artem-zinnatullin opened #3 "Add check that `REMOTE_BUILD_MACHINE` property has some value"
Similar to:

[code]

[2016-12-19 11:00] artem-zinnatullin opened #4 "Switch to different method of setting compression level, GZIP env variable is deprecated"

[2016-12-19 11:14] artem-zinnatullin opened #5 "Add instructions on how to setup build machine"

[2016-12-20 08:15] artem-zinnatullin opened #6 "Investigate parallelization of particular steps"
`rm`, `tar`, etc, let's try to parallel everything that is possible to parallel.

[2016-12-20 12:43] #3 closed

[2016-12-20 12:45] artem-zinnatullin opened #8 "Add CI"
We can try to `ssh` to the same machine that runs CI build (Travis, CircleCI, etc) and then run some Gradle build and check its results.

[2016-12-20 13:05] ming13 opened #9 "Optional pigz integration"
`pigz` works in parallel and in our case does compression faster for a large number of output files.

[2016-12-20 13:44] artem-zinnatullin opened #10 "Clean local build results only after scp"
So IDE won't have a long pause while no build files are available.

[2016-12-20 14:52] artem-zinnatullin opened #12 "Autodetect project directory name to use it on remote machine"

[2016-12-20 15:00] #2 closed

[2016-12-20 15:03] artem-zinnatullin commented on #4
Fixed by #11.

[2016-12-20 15:03] #4 closed

[2016-12-20 16:05] #12 closed

[2016-12-20 16:09] #5 closed

[2016-12-20 19:10] rocboronat opened #17 "Give a performance comparison"
Great project! The first idea that came to my mind is: how much time I will save? Please, publish a simple comparison in the readme. Let's say "a project that takes 2 minutes to be assebled on my computer, takes 1 minute to be built in a server with 4 cores and 4 GB's". Or... close this issue if you think that it doesn't have sense :-)

Thanks for the work!

[2016-12-20 19:55] eduardb commented on #17
It would also be cool if you could include profiling around (un)archiving/moving the files around. Cheers!

[2016-12-20 20:46] panpanini commented on #8
To me it sounds like that might defeat the purpose of the project - from how I interpret it the project is designed to speed up builds, however if we have to wait for CI to check each build it could end up blowing out the build times to back where they originally were

[2016-12-20 20:50] artem-zinnatullin commented on #8
Haha, nononono, @panpanini, I meant add CI for **this** (GitHub) project so we could test it continuosly, not for the remote builds themselves! 😸

[2016-12-20 20:53] panpanini commented on #8
doh! that makes way more sense haha

[2016-12-20 21:01] artem-zinnatullin commented on #9
Let's add this in v1.0.1, disabling compression saves about 2 seconds for @dmitry-novikov on gigabit ethernet connection.

At the same time, disabling compression adds about 2 seconds for me on `ac` wifi connection, switching to `pigz` saves about 2 seconds back lol.

[2016-12-20 21:06] artem-zinnatullin commented on #6
We had a discussion with @dmitry-novikov and came to conclusion that we can try to minimize writes to disk and basically divide all script to 3 steps that use pipes instead of writing to disk:

1. `local_archive -> pipe_to_remote_machine -> remote_unarchive`
2. `build_on_remote_machine`
3. `remote_archive -> pipe_to_local_machine -> local_unarchive`

So as you can see, in steps 1 and 2 we're skipp

[2016-12-20 21:15] artem-zinnatullin opened #18 "Add sample gradle project to the repo"

[2016-12-21 06:28] AntonRutkevich opened #19 "Extract local and remote excludes as configurable parameters"
lines like
```--exclude='artifacts' \```
or
```--exclude='kotlin' \```
show that it is still bound to a particular project.

It might me a good idea to extract it.

As separate files?
```.localignore```
```.remoteignore```
?

[2016-12-21 08:42] artem-zinnatullin commented on #19
So, initially we did not want to do so because it'll obligate us on supporting multiple build systems, but looks like it's required step and we can just provide list of samples for build systems we work with and let the community create their own setups for other build systems.

Since it's breaking change, let's do it in 2.0.0!

[2016-12-21 09:18] ming13 commented on #9
Just run some variations on MacBook Pro (Retina, 13-inch, Early 2015) without command execution timing, i. e. always packaging same sources and results. Using the local network.

| Description | Avg. Time, s |
|------------|------------|
| gzip + compression 0 | 8 |
| gzip + compression 1 | 9 |
| gzip + compression 4 | 9 |
| pigz + compression 1 | 7 |
| pigz + compression 4 | 6 |
| pigz + compress

[2016-12-21 09:24] artem-zinnatullin commented on #9
K, let's add optional `pigz` support for both local and remote machines and add it to performance optimizations tips and instruction for remote machine setup!

[2016-12-21 09:45] artem-zinnatullin opened #22 "Try rsync instead of archive + scp"
Though in our case we generate about 10k build files on each build and rsync might be slower than simple `tar` + `scp`.

See this discussion for more info: https://twitter.com/steventannz/status/811460935101493248

[2016-12-21 10:29] steventannz commented on #22
Ah, I see the difference now. I've omitted syncing some of the build files, namely the `intermediates` as they took extra time to sync. This is probably still needed for unit tests which I've still compiled locally for now.

For the typical use case of compiling and deploying an APK, those files are not needed. Here's a snippet with project details omitted of the script that I'm using:
[code]

Thi

[2016-12-21 10:34] artem-zinnatullin commented on #22
Without `intermediates` IDE won't see new build files (classes, etc) which will force you to do local Gradle sync pretty often :(

[2016-12-21 10:38] steventannz commented on #22
Hmm, I don't think I ever get prompted for a sync. Maybe that's required to use the deployment target menu from the IDE? I do a direct install via ADB instead which might be why I haven't run into that issue.

[code]

[2016-12-21 10:48] steventannz commented on #22
Hmm with this script, I haven't been prompted for any syncs. Mainly only getting back the compiled APKs which should not trigger a sync requirement.

[2016-12-21 10:53] artem-zinnatullin commented on #22
For example: we use annotation processing that generates classes, without pulling `intermediates` we won't see this generated classes in the IDE and that'll break a lot of code editing for us.

[2016-12-21 11:04] gabrielittner commented on #22
Generated code goes into `build/generated` and when the build cache is enabled exploded aar's live their and not in intermidiates. So maybe it's enough to sync generated and outputs when build cache is enabled and otherwise also sync `intermediates/exploded-aar`?

[2016-12-21 13:02] #9 closed

[2016-12-22 09:40] artem-zinnatullin commented on #8
Ok, #26 definitely shown that we need CI for `mainframer`, I have couple options in mind, will try to implement them in near future.

[2016-12-22 10:19] artem-zinnatullin opened #28 "Add version to the script content"
Maybe even print `mainframer v1.0.2` or something like this in the beginning, this will help investigate reports with and without logs from our users.

[2016-12-22 13:16] artem-zinnatullin opened #30 "Use mainframer folder on a remote machine"
This will help keeping remote home directory `~` clean and easy to navigate through in case of many projects.

[2016-12-22 13:17] artem-zinnatullin opened #31 "Use project folder name for archives"
Currently we use `project_for_remote_build.tar` as a name of archive which is not great if you'll try to build several project in parallel using same remote user.

[2016-12-22 13:23] artem-zinnatullin commented on #22
@gabrielittner right right, but to launch tests we need `intermediate/classes`.

Anyway, this will be solved by introdusing `.mainframerignore` and `.mainframerinclude` (or some other way to pass what to include and what to ignore) as part of #19!

[2016-12-22 13:57] #28 closed

[2016-12-22 14:42] ming13 opened #32 "Consider distribution via custom Homebrew Tap"

[2016-12-22 17:01] ligol commented on #22
The discussion only talk about the build file and pulling these file from the server, but what about the uploading part of the source code. I think on this side rsync could be better than tar+scp, especially for a project with a lot of res file like drawable.

We could maybe use the both method.

What do you think?

[2016-12-22 19:34] artem-zinnatullin opened #33 "Fix env vars recipe"
https://twitter.com/ckesc/status/812006350385541120

[2016-12-22 19:58] ckesc commented on #33
More details:
`.bashrc` is not readed when you execute ssh commands. For example `ssh HOST "printenv"`
See more at
http://stackoverflow.com/questions/216202/why-does-an-ssh-remote-command-get-fewer-environment-variables-then-when-run-man

[2016-12-23 06:23] steventannz commented on #22
I included `build/intermediates` again and ran a couple of quick tests between tar+scp and rsync on my own project (excluding the time it took building it). This was done over a 1Gbps ethernet connection.

# tar + scp
### Time to local tar excl */build:
[code]

### Time to scp from local to remote:
[code]
### Time to remote untar:
[code]

### Time to remote tar just /build and */build:
[code]

###

[2016-12-23 07:18] ming13 commented on #22
@steventannz Huh, this is very interesting, thank you for the stats! We’ll try it out locally in different configurations to be sure we want to switch, but this is definitely looks promising!

[2016-12-23 09:11] artem-zinnatullin commented on #22
@steventannz good results, thanks! If you have time — feel free to make PR with switching to `rsync` so we could try it in our setup, if no — we'll do it ourselves and if it'll work better we'll open a PR :)

[2016-12-23 13:01] ckesc opened #34 "Linux / OS X tar incompatibility"
When remote host uncompressing tar it logs a lot of warnings like
[code]
**More about this problem:**
http://superuser.com/questions/318809/linux-os-x-tar-incompatibility-tarballs-created-on-os-x-give-errors-when-unt

**Solution:**
use GNU tar (`gtar`) in mainframer

[2016-12-23 13:31] artem-zinnatullin commented on #34
Hm.

Does this cause "build" failure for you or it just prints warnings and everything works good?

We can't use `gtar` that easy because it is not installed on almost any OS nowadays, though we can do similar optional support for it as we did for `pigz` instead of `gzip` #24.

Also, if `rsync` will be better for all cases #22, `tar` won't be required at all.

[2016-12-23 13:34] artem-zinnatullin commented on #34
We also use `mainframer` in similar setup: local machines are mostly Mac OS (and one Linux) and remote machine is Ubuntu 16.04 and nobody have seen such warnings.

For example I have `BSD tar` on my Mac OS and on Ubuntu we have `GNU tar`.

[2016-12-23 13:38] ckesc commented on #34
No it not fails build.
Optional support will be cool.

I have
bsdtar 2.8.3 - lib archive 2.8.3 on local OSX
tar (GNU tar) 1.27.1 on remote host Ubuntu 14.04.5 LTS

[2016-12-23 16:46] kokeroulis commented on #22
Today i was experimenting with rsync, and i can verify the above. Only the first time rsync is slower, but after that, its way faster.

I have forked this project in order to experiment with the rsync. With the feedback from this issue, i have added the rsync functionality.

The code is not very good (this is the first time that i am writing bash), but i thought that it might help

https://github.

[2016-12-24 00:07] artem-zinnatullin commented on #34
Looks like `rsync` is more better choise, so I guess we'll close this issue by switching to `rsync` :)

[2016-12-24 00:11] artem-zinnatullin commented on #32
TL;TR of our private discussion of this thing: I'm personally kinda not sure about that, we'll have to be very conservative once we release `mainframer` to something like Homebrew since we'll need to provide a lot of backward compatibility which is not that easy when you write in `bash`.

Good example of such a problem is `git`, it has lot's of weird things (though I love it) because of backward c

[2016-12-24 00:13] artem-zinnatullin commented on #22
@kokeroulis thanks! We'll try it.

@ming13 let's dive into `man rsync` and google for possible issues that `rsync` may cause in our use case, I also think we'll need to try to live it for a week or so before releasing it in publically available version of `mainframer`.

[2016-12-24 21:00] voronnenok opened #36 "tar: */build: Cannot stat: No such file or directory"
My output is...

........................
BUILD SUCCESSFUL

Total time: 2 mins 39.252 secs
+ tar -c --exclude=kotlin --exclude=tmp build/ '*/build'
tar: */build: Cannot stat: No such file or directory
tar: Exiting with failure status due to previous errors

Process finished with exit code 2

And apk not installs on device

[2016-12-28 11:18] ming13 commented on #36
`'*/build'` part looks suspicious. [We don’t have it in quotes](https://github.com/gojuno/mainframer/blob/ca85d95a751de322d7d8babd021f2332a0c88f0e/mainframer.sh#L81).

[2016-12-28 11:20] artem-zinnatullin commented on #36
On which version of `mainframer` are you? Haven't you edit it yourself? Can you please reattach logs using markdown ```?

[2016-12-28 11:54] artem-zinnatullin commented on #10
Will be closed by #22.

[2016-12-28 11:55] artem-zinnatullin opened #37 "Add note about releases and how to download to readme"

[2016-12-28 12:11] artem-zinnatullin commented on #31
Will be closed by #22.

[2016-12-28 12:12] artem-zinnatullin commented on #6
`parsync`

[2016-12-28 13:47] artem-zinnatullin commented on #22
Closed by #35!

[2016-12-28 13:47] #22 closed

[2016-12-28 13:48] artem-zinnatullin commented on #10
Closed by #35!

[2016-12-28 13:48] #10 closed

[2016-12-28 13:48] artem-zinnatullin commented on #31
Closed by #35!

[2016-12-28 13:48] #31 closed

[2016-12-28 17:13] artem-zinnatullin opened #39 "Add instructions about rsync, remove pigz."

[2016-12-29 10:08] ming13 commented on #39
Note: probably we should mention / investigate what happens if only one side has `rsync` installed.

[2016-12-29 10:08] artem-zinnatullin commented on #39
Yup.

[2016-12-29 10:08] #37 closed

[2016-12-29 10:15] artem-zinnatullin commented on #39
Closed by #41.

[2016-12-29 10:15] #39 closed

[2016-12-29 10:39] ghostbuster91 opened #43 "Script fails when fish is the default shell on remote machine"

[2016-12-29 10:41] artem-zinnatullin commented on #43
Any logs?

[2016-12-29 11:49] ming13 commented on #43
![](https://3.bp.blogspot.com/-XX-_2BguBCY/VtKBFupTW0I/AAAAAAAAEr0/cJ7PmeOq0MY/s1600/flash%2B23.gif)

[2016-12-29 11:50] ming13 commented on #43
I heard that `fish` [is not POSIX compliant](https://github.com/fish-shell/fish-shell/wiki/POSIX-compatibility-thoughts) (LOL). Probably shabang in the script is not enough and we must execute `bash mainframer.sh` explicitly.

[2016-12-29 12:00] artem-zinnatullin commented on #43
I believe `rsync` will solve this as well, @ghostbuster91 please try 1.1.0 (will be released soon) and report back.

[2016-12-29 12:17] crysxd commented on #17
I just share my performance comparisions here, maybe someone will find it helpful. We are using a AWS EC2 instance (t2.xlarge) to build the project in the cloud, works like a charm.

    MacBook Pro 13 2015  (i5-5257U, 8GB)  ->    02:03
    Workstation (i7 5820k@4.2GHz, 16GB)   ->    00:20
    c4.2xlarge (8 cores, 32 GB)	                ->    00:23
    c4.xlarge (4 cores, 16 GB)

[2016-12-29 13:47] artem-zinnatullin commented on #17
Nice! Btw, @crysxd please try v1.1.0 we've just released, should save you some time on transferring files between remote and local machines!

[2016-12-29 13:50] ming13 commented on #34
Most likely was implicitly fixed by #22. @artem-zinnatullin?

[2016-12-29 13:51] ming13 commented on #36
Most likely was fixed by #22 this way or another.

[2016-12-29 14:05] artem-zinnatullin commented on #34
Yup! Closing for now, @ckesc feel free to reopen with new comments!

[2016-12-29 14:05] #34 closed

[2016-12-29 14:06] artem-zinnatullin commented on #36
Yes, I also believe so. @voronnenok please try v1.1.0 and report back!

[2016-12-29 14:06] #36 closed

[2016-12-29 14:07] artem-zinnatullin commented on #34
Forgot to say, please try it on v1.1.0 or later version!

[2016-12-29 14:36] rocboronat commented on #17
Great comparison, thanks @crysxd !

[2016-12-29 14:38] ghostbuster91 commented on #43
Thanks for quick replay.
Here is the error msg:
[code]
There are two problems with this command.
1. Fish does not support `&&` for concatenation. Instead to be both fish and bash compatible you might want to use `;` character to separate commands.
2. The `set` command looks different in fish.

I think that the best solution would be to explicitly invoke these commands in bash shell, because suppor

[2016-12-29 14:49] ming13 commented on #17
Probably we should mention in the readme that better CPU most likely is better than better RAM.

[2016-12-29 15:03] crysxd commented on #17
@artem-zinnatullin Already using v1.1.0, version v1.0.2 was not usable for cloud builds because of the big upload, rsync is perfect for this. I really can recommend using AWS for this.

[2016-12-29 15:31] artem-zinnatullin commented on #43
Yup, sounds reasonable

On Thu, Dec 29, 2016, 17:38 Kasper Kondzielski <notifications@github.com>
wrote:

[2016-12-29 16:15] artem-zinnatullin commented on #17
@crysxd ok!

@ming13 I think we can just put a link to this issue into README so users could check results of others and add theirs, not sure we're that good in benchmarking to give precise performance comparison tables or something like this.

[2016-12-29 16:22] artem-zinnatullin commented on #43
Closed by #44.

[2016-12-29 16:22] #43 closed

[2016-12-29 16:32] gitanshu commented on #17
Maybe link to [this tweet about gradle and CPU freqs](https://twitter.com/sasa_sekulic/status/810605886850953217) too 😬

<img width="593" alt="screen shot 2016-12-29 at 10 00 27 pm" src="https://cloud.githubusercontent.com/assets/1853790/21548428/499d9362-ce12-11e6-81bb-9d81bbaa2922.png">

[2016-12-30 12:33] artem-zinnatullin opened #46 "Find a better way to read properties"
Currently we use `awk` in a way that sometimes leads to wrong results, for example we will read even commented out properties like:

[code]

Both values will be grepped for `remote_build.machine`.

[2016-12-30 14:06] dmitry-novikov commented on #46
Proposed solution https://github.com/gojuno/mainframer/pull/47

[2017-01-03 06:58] artem-zinnatullin commented on #46
Closed by #47.

[2017-01-03 06:58] #46 closed

[2017-01-03 15:48] ahornerr opened #49 "Automatic Gradle tasks recognition in Android Studio"
Hey there!

First of all I want to start by saying what a wonderful tool this is. It will save us hours if not days in compile time!

We support a project with a large number of build variants and it's a bit annoying to have to edit the run configuration each time we want to switch variants. I had a short-term solution of using an Android Studio macro `$Prompt$` to prompt the user which variant th

[2017-01-03 15:54] artem-zinnatullin opened #50 "Extract config parameters to a separate file instead of using local.properties"
Since 2.x will already be breaking #19, we can also extract mainframer config parameters to a separate file since Android Studio adds not very funny header to `local.properties` (though I've never saw such behavior):

[code]

Something like `.mainframerconfig` should be fine I think.

[2017-01-03 15:55] ahornerr commented on #49
I believe I found the issue, related to the bash parameter execution, working on a fix.

[2017-01-03 16:03] artem-zinnatullin commented on #49
Neat, though we don't have flavors to test this, but it'd be very nice to use something like this to run required gradle tasks automatically, the same Android Studio does using "Gradle-aware Make". But I'm afraid this would require Android Studio plugin.

[2017-01-03 16:08] artem-zinnatullin commented on #49
TL;TR: plugin for IntelliJ Idea or Android Studio that will automatically pass required build steps to `mainframer.sh` would be very neat.

If someone would like to start working on this — please ping us here, so community could track your progress!

@ahornerr thanks for sharing your receipe, in v2.0.0 we'll have samples for different build systems and I'll add a link to your receipe into `gradle-

[2017-01-03 16:08] #49 closed

[2017-01-03 16:08] ahornerr commented on #49
Yes, I've noticed that if I don't give Android Studio enough time to update the `.iml` file after switching flavors, it will build the old flavor. Typically this only takes about 10-15 seconds but it's important for me not to jump the gun.

[2017-01-03 16:08] ahornerr commented on #49
Thank you!

[2017-01-03 16:15] artem-zinnatullin commented on #49
Doesn't it show the progress of Gradle sync that is happening  once you switch between build types/flavors? I believe you simply need to wait until it completes and then start the build.

[2017-01-03 16:16] ahornerr commented on #49
That's correct, I'm just impatient :)

[2017-01-03 16:33] artem-zinnatullin commented on #49
Haha, that's understandable 😸

[2017-01-04 13:21] bresan opened #53 "Usage of Instant Run"
Hey guys, it's being really amazing how much my old 2010 MBP is not freezing anymore due to this project and remote builds, thanks for everything 👍

Does anyone was able to run the project using the feature of Instant Run? I think it would be a really great feature, since it does reduce a lot the time of builds (at least for me is pretty evident the difference).

I have checked some discussions ar

[2017-01-04 14:48] null-dev commented on #53
I tried it and it seemed to work no problem. I did no extra configuration.

[2017-01-04 15:18] bresan commented on #53
Woah.. really? On mine it doesn't look like it's working, at least the dialog of the instant run is not displayed.

What are you sending on arguments to the mainframer? Mine currently is `mainframer.sh ./gradlew :app:assembleDebug -Pmin.sdk.version=21 -Pandroid.enableBuildCache=true`, but I don't think this is supposed to cause this issue.

[2017-01-04 15:20] null-dev commented on #53
Wait, there is an instant run dialog? Do you mean the dialog that lets you select what device to deploy to?

[2017-01-04 15:34] bresan commented on #53
No no, the little green pop up that is displayed on the IDE (like this: http://www.techotopia.com/images/b/b9/Android_studio_2_instant_run_full_build.png, but with the text of instant run done etc etc).

Yeah, it is checked as well the instant run option, so I'm kinda lost on this. Can you put here your arguments for mainframer? Also, I have multiDex enable on the project, and was thinking this co

[2017-01-04 15:59] null-dev commented on #53
Mine are just: `mainframer.sh ./gradlew :app:assembleStandardDebug`. I use product flavors so don't worry about `Standard`.

Instant run works for me:
![instant-run](https://cloud.githubusercontent.com/assets/9571936/21648543/5af256c6-d26c-11e6-946a-338fa4f9b178.png)

Does your app fall into the "Legacy Multidex" criteria here: https://developer.android.com/studio/run/index.html#ir-limitations?

[2017-01-04 16:09] null-dev commented on #53
Instant run works fine with Kotlin for me:
![instant-run-kt](https://cloud.githubusercontent.com/assets/9571936/21649016/29b35388-d26e-11e6-9e84-629b76f645a5.png)

Maybe I'm just a very lucky guy.

[2017-01-04 20:21] artem-zinnatullin opened #54 "Add separate folder for mainframer configs"
In v2.x we'll add several files #19, #51 to allow customizations and integrations with basically *any* build system, also we're planning to move away from `local.properties` #50.

With that in mind, there is an option to put all mainframer configs into a separate folder (eg `mainframer`) where we could store all required files:

* `ignorelocal` (should be under VCS in most cases)
* `ignoreremote`(

[2017-01-04 20:53] artem-zinnatullin opened #55 "Add sample gradle-android project to the repo"

[2017-01-04 20:54] artem-zinnatullin opened #56 "Add sample mvn project to the repo"

[2017-01-04 20:55] artem-zinnatullin opened #57 "Add sample buck project to the repo"

[2017-01-04 20:56] artem-zinnatullin opened #58 "Add sample gcc project to the repo"

[2017-01-04 20:57] artem-zinnatullin opened #59 "Add sample rustc project to the repo"

[2017-01-04 20:57] artem-zinnatullin opened #60 "Add sample clang project to the repo"

[2017-01-05 10:56] #19 closed

[2017-01-06 13:20] ligol opened #63 "Grep fail on folder with space"
The PR #47 introduce the use of grep to parse the local.properties file, but it fail to open the file when the path get a space in it.

[2017-01-06 16:26] artem-zinnatullin commented on #63
@ligol you can apply fix from #64 manually, until we make a release, sorry for inconvenience!

[2017-01-06 18:43] #63 closed

[2017-01-06 20:05] artem-zinnatullin commented on #54
@ming13, @dmitry-novikov thoughts?

[2017-01-06 23:31] artem-zinnatullin commented on #6
Due to

[code]

`parsync` looks like a not-an-option for us, also, it is designed for large data transfers while most of build results are not *that* big to use things like `parsync`.

I'm closing this for now, if you have something to add — please don't hesitate to comment (we can reopen issue if needed).

[2017-01-06 23:31] #6 closed

[2017-01-06 23:34] artem-zinnatullin commented on #8
We need it, working on it.

[2017-01-07 06:35] ming13 commented on #54
This structure should fit.
[code]

[2017-01-07 21:34] #8 closed

[2017-01-08 21:27] artem-zinnatullin opened #68 "Add sample go project to the repo"

[2017-01-09 09:27] ibit commented on #50
@artem-zinnatullin the config file option should be probably updated in the README file

[2017-01-09 09:28] artem-zinnatullin opened #70 "Print each step of execution"

[2017-01-09 09:48] ibit opened #71 "Allow different sdk.dir property for the remote machine"
My remote machine skd path is different than my local one.
I would like to be able to set the remote sdk path separately so my local machine will still work as intended.

For version 1.1.1 I passed the sdk path as an argument 'ANDROID_HOME=path/to/sdk'
Since 1.1.2 this workaround no longer work

[2017-01-09 10:29] artem-zinnatullin commented on #71
`mainframer` does not know about `sdk.dir`.

How do you download `mainframer.sh` to include it into your project? I believe you've downloaded it right from master branch where we have unreleased version.

[2017-01-09 10:30] artem-zinnatullin opened #72 "Update readme for v2.0.0"

[2017-01-09 10:30] artem-zinnatullin commented on #50
Sure, we'll update README before v2.0.0 release, it's still in development at the moment, created #72 to track this.

[2017-01-09 10:35] ibit commented on #71
I did download the mainframer.sh from the master branch. I see now that the release one is different.
Personally, I would keep the master aligned with the release and branch out for development

[2017-01-09 10:39] artem-zinnatullin commented on #71
We'll rename `master` to `dev` 😸 to avoid confusion.

We have download instructions in README, please follow them!

[2017-01-09 10:39] #71 closed

[2017-01-09 12:22] #54 closed

[2017-01-09 14:26] #70 closed

[2017-01-09 14:47] meierjan commented on #17
**Local:**
MacBook Pro 15" - Mid 2015 - 2,5 GHz i7 - 16 GB Ram:
**~43 Sec**

**Remote:**
Intel Core i7-6700K 4000 1151 BOX
SSD 240GB 440/535 Z410 SA3 SDK
2x 16GB 2133-15 CRU
**21 sec**

[2017-01-09 15:00] rocboronat commented on #17
Thanks for collaborating! :·)

[2017-01-09 19:26] #50 closed

[2017-01-09 19:32] artem-zinnatullin commented on #30
Huh, looks like it's not that easy. The only 100% working solution I've found is to run `ssh host mkdir -p ~/mainframer` but it requires separate ssh call which I don't want to introduce…

[2017-01-09 19:33] artem-zinnatullin opened #76 "Add .mainframer/commonignore"

[2017-01-10 07:14] #76 closed, assigned to artem-zinnatullin

[2017-01-10 20:47] #18 closed

[2017-01-11 13:46] artem-zinnatullin opened #82 "Respect path from where mainframer was laucnhed and not the path where it's stored"

[2017-01-11 17:33] Tagakov commented on #30
Why you can't just let rsync create target folder for you?

 You can achieve this by using parameter `--rsync-path="mkdir -p ~/mainframer/ && rsync"`

It is a little hacky but totally valid.

[2017-01-11 18:01] Tagakov commented on #53
Instant run doesn't work because it can't be run from the command line. Although the icon near the play button appears and indicates that Instant Run works on the mainframe side full incremetal build always happens.

[2017-01-12 08:48] #59 closed

[2017-01-12 09:37] #68 closed

[2017-01-12 10:32] artem-zinnatullin opened #83 "Add copyright to mainframer.sh"

[2017-01-12 12:24] arturdryomov opened #85 "Point to releases page from changelog file"

[2017-01-12 12:24] #82 closed, assigned to arturdryomov, artem-zinnatullin

[2017-01-12 12:46] artem-zinnatullin opened #87 "Sync back even if remote command failed"

[2017-01-12 13:21] #85 closed, assigned to arturdryomov, artem-zinnatullin

[2017-01-12 19:02] #83 closed, assigned to arturdryomov, artem-zinnatullin

[2017-01-13 08:56] #87 closed, assigned to arturdryomov, artem-zinnatullin

[2017-01-13 09:23] #30 closed

[2017-01-13 15:24] artem-zinnatullin opened #94 "Rename personalconfig to config"

[2017-01-14 12:17] artem-zinnatullin commented on #56
Starting this one, not a fan of maven though…

[2017-01-14 12:31] artem-zinnatullin commented on #56
Nah, putting on pause, snowboarding first! 🏂🏔

[2017-01-14 14:01] #94 closed, assigned to arturdryomov, artem-zinnatullin

[2017-01-15 17:56] artem-zinnatullin commented on #58
Starting this one, uh, every build system needs wrapper.

[2017-01-15 19:12] artem-zinnatullin commented on #60
Taking this one.

[2017-01-15 19:26] artem-zinnatullin commented on #57
Buck buk bug, taking this one.

[2017-01-16 06:47] #60 closed

[2017-01-16 07:32] #56 closed

[2017-01-16 09:16] #58 closed

[2017-01-17 22:05] artem-zinnatullin opened #104 "Simple ignore patterns are applied even for subfolders."
Example `ignore`:

[code]

Will ignore not only root (in the project) file or directory with name `sample`, but also any file or directory with name `sample` in any level of subfolders in the project.

This is not how file/directory patterns work in  `.gitignore` and other commonly used tools.

[2017-01-17 22:07] artem-zinnatullin commented on #104
https://stackoverflow.com/questions/13713101/rsync-exclude-according-to-gitignore-hgignore-svnignore-like-filter-c

[2017-01-17 22:15] artem-zinnatullin commented on #104
Looks like it's not that easy to change this behavior, we could of course manually read ignore files and add leading `/` if path does not include it already and then pass it to `--exclude` as parameters.

Otherwise we can note that in documentation and live with it.

[2017-01-18 05:28] arturdryomov commented on #104
I think it is pretty safe just to reference `rsync` docs in our docs. I. e. we are using `rsync` file exclusion format for `*ignore` files. No need to reimplement what was already done for us.

[2017-01-18 10:16] #104 closed, assigned to arturdryomov, artem-zinnatullin

[2017-01-18 11:30] #55 closed

[2017-01-18 11:52] artem-zinnatullin opened #110 "Exit with error code if remote command errored."

[2017-01-18 12:25] #110 closed, assigned to arturdryomov

[2017-01-18 12:42] artem-zinnatullin commented on #72
Closed by #105.

[2017-01-18 12:42] #72 closed

[2017-01-19 09:01] artem-zinnatullin opened #117 "Integrate shellcheck into mainframer CI"
https://github.com/koalaman/shellcheck

[2017-01-19 09:02] artem-zinnatullin opened #118 "Check for syntax errors as first test"
`bash -n scriptname`

[2017-01-19 15:30] voronnenok commented on #36
v1.1.0 is great! Thanks!

[2017-01-19 15:30] artem-zinnatullin opened #121 "Format time to output minutes, hours etc."

[2017-01-19 18:56] artem-zinnatullin opened #122 "Add Bazel sample to the project."

[2017-01-19 18:58] artem-zinnatullin opened #123 "Add IntelliJ integration recipe."

[2017-01-19 18:59] artem-zinnatullin opened #124 "Add "setup remote machine user" recipe."

[2017-01-19 19:03] artem-zinnatullin commented on #33
So we don't have such a recipe now lol, closing this issue.

[2017-01-19 19:03] #33 closed

[2017-01-19 19:05] artem-zinnatullin opened #125 "IntelliJ Plugin."
At the moment you can integrate `mainframer` with IntelliJ pretty easily, but the process is manual and hard to scale in big teams.

The idea is to create a Plugin for IntelliJ that would be able to run exact same build commands that IntelliJ wants to run (triggered by hotkey/click) and pass them to `mainframer.sh` and then wait for output. That would make integration veery easy for basically any

[2017-01-19 19:06] artem-zinnatullin commented on #57
Closed by #111.

[2017-01-19 19:06] #57 closed

[2017-01-20 09:44] artem-zinnatullin opened #127 "Print remote command during execution step."

[2017-01-20 21:31] artem-zinnatullin opened #129 "Return Demo Video into gradle-android sample."
Yup yup @ming13.

[2017-01-21 08:58] #118 closed, assigned to artem-zinnatullin

[2017-01-21 20:11] thevery commented on #32
@ming13 you can probably contribute formula into central repo

[2017-01-21 20:11] renegens opened #132 "Can't run script"
Hello,

I am trying to make this work but I am getting an error when I run `bash mainframer.sh ./gradlew build` . I have added to `.mainframer` the config files from the sample and my local.properties folder has the sdk path of the remote machine.

[code]

[2017-01-21 20:44] artem-zinnatullin commented on #132
Please switch to docs for v1.1.2 or use mainframer v2.0.0-dev from the
repo, we're in v2.0.0 preparing stage and docs you're seeing in repo are
for v2.

On Sat, Jan 21, 2017, 23:11 Rene Gens <notifications@github.com> wrote:

[2017-01-21 20:49] artem-zinnatullin commented on #132
Closing issue for now, if you have any questions don't hesitate to ask here on in a separate issue.

[2017-01-21 20:49] #132 closed, assigned to nobody

[2017-01-22 13:24] #117 closed, assigned to artem-zinnatullin

[2017-01-22 13:40] artem-zinnatullin commented on #32
@thevery hello there lol 😸, surely we can, but it's more a question of "should we"?

I see this very similar to things like `gradlew` and other kinds of wrappers, how would you keep all team members up-to-date? What if we release v3.x with breaking changes, how would we update it in `homebrew`/etc without breaking it for old users?

Another point is that team members don't have to install anything

[2017-01-22 16:14] ghostbuster91 commented on #125
Hi all, I created a repository for this plugin, so PRs are welcome.
https://github.com/elpassion/mainframer-intelij-plugin

[2017-01-22 16:16] artem-zinnatullin commented on #125
Subscribed!

[2017-01-22 21:53] #123 closed, assigned to arturdryomov, artem-zinnatullin

[2017-01-23 06:23] #129 closed, assigned to artem-zinnatullin

[2017-01-23 07:33] #127 closed, assigned to artem-zinnatullin

[2017-01-23 08:38] #124 closed, assigned to artem-zinnatullin

[2017-01-27 10:39] ghostbuster91 commented on #32
I like the idea of having sth like mainframer wrapper which will work analogically to `gradlew`.

In such aprroach you don't force users to update but still they can do it very easly.

[2017-01-27 12:11] artem-zinnatullin commented on #32
Yup. `mainframer.sh` itself already works as `gradlew` so we don't need to change anything for now.

[2017-01-27 16:40] ghostbuster91 commented on #32
I was thinking about something else.
The `mainframerWrapper` could delegate all normal invocations to `mainframer.sh`, but in addition it could check some `mainframerWrapper.properties` file (where there version of mainframer would be defiend) and update `mainframer.sh` if needed.

[2017-01-27 16:45] artem-zinnatullin commented on #32
Hm, that's interesting, let us think about it for couple days

On Fri, Jan 27, 2017, 19:40 Kasper Kondzielski <notifications@github.com>
wrote:

[2017-01-30 06:44] Tagakov commented on #17
**Local:** (depends on hardware)
Clean 180-360 sec
Incremental 40-180 sec

**Remote:**
Clean 50 sec
Remote 30 sec

[2017-02-01 14:48] Gazer opened #143 "Need to add --login to bash to work with rbenv"
Hi, I was trying maiframer but I was unable to run fastlane on the remote machine :

[code]

After reading a lot, triying to use .bash_profile or .profile to setup rbenv correctly, I discovered that if I change the line 102 (of 2.0.0 release) to use `bash --login` it works as expected :

[code]

The .bashrc of the user I use to connecto to the remote machine ends with :

[code]

As I can see from

[2017-02-01 16:30] artem-zinnatullin commented on #143
That's the reason, on most Linux distributives `~/.bashrc` has ~this in the beginning:

[code]

Notice `# If not running interactively, don't do anything` which basically stops evaluation of following content of the `~/.bashrc`.

For example in our setup we put required environment variables **before** this line, simply in the beginning of `~/.bashrc` so they're evaluated no matter if it's login s

[2017-02-01 16:47] artem-zinnatullin commented on #143
So, I don't think we *need* to use `bash --login` but instead **highlight** this common issue in the [SETUP_REMOTE](https://github.com/gojuno/mainframer/blob/development/docs/SETUP_REMOTE.md) docs, @Gazer what do you think?

cc @ming13

[2017-02-01 18:08] Gazer commented on #143
That makes sense, I've miss that detail of the bashrc. Moving the config to the top of the file solve the problem.

I think that leaving a note on the docs is enough. Many instruction (like rbenv) tell you to add the commands at the end of the bashrc and may save someone else in the future :).

Thanks you!

[2017-02-01 18:47] artem-zinnatullin commented on #143
Ok! Wanna do a PR for docs 😺 or leaving it for us?

[2017-02-01 19:13] arturdryomov commented on #143
Huh, looks strange actually, never had this in Zsh setup. Yep, I guess we can highlight that.

[2017-02-01 19:40] Gazer commented on #143
I'll do the PR tonight!, right now I've to deliver some work 📦

[2017-02-01 20:12] artem-zinnatullin commented on #143
@ming13 that's because I setup all the users we have and this was an issue I spent few hours on fixing…

@Gazer nice, will be happy to review then :)

[2017-02-07 13:52] dhartwich1991 opened #146 "Unable to build my Android project on linux"
Hey there, I get the following error, when trying to compile my project on ubuntu 16.04

[code]

I have no why this could be happening, can you suggest something? I know this is not really related to mainframer but I am trying to enable mainframer right now but this is standing in my way.

Help is very much appreciated. Compiling on my mac works without problems but is slow as hell.

Cheers!

[2017-02-07 13:56] dhartwich1991 commented on #146
I removed the aidl file from the project just to see what's happening and it fails on merging debug resources with a similar error:

[code]

[2017-02-07 14:03] artem-zinnatullin commented on #146
Disclaimer for others who might open this issue: it's not related to mainframer, it's about building android project on Ubuntu.

---

Hello, @dhartwich1991!

A guess I have at the moment is that you need to `apt-get install lib32stdc++6 lib32z1` packages on remote machine in order to make `aapt` work, see this [SO question](https://stackoverflow.com/questions/18928164/android-studio-cannot-find-aa

[2017-02-07 14:08] dhartwich1991 commented on #146
Thanks @artem-zinnatullin for the fast response.

Output of uname -a
[code]

When I try to install the above tools I get the following errors:

[code]

[2017-02-07 14:24] artem-zinnatullin commented on #146
Ok, so the problem is that you're running 32-bit Linux (`i686`), Android Tools team [dropped support](https://code.google.com/p/android/issues/detail?id=196866) for 32-bit systems in the end of 2014.

My best suggestion is to get 64-bit machine and install 64-bit Ubuntu on it.

I'm closing this then, feel free to continue conversation though :)

[2017-02-07 14:24] #146 closed, assigned to nobody

[2017-02-07 14:41] dhartwich1991 commented on #146
@artem-zinnatullin Thank you :/ Getting a 64-bit machine now and installing once again...hope that it works afterwards.

[2017-02-07 14:57] artem-zinnatullin commented on #146
Great! Btw, make sure you've read whole README of [`gradle-android` sample](https://github.com/gojuno/mainframer/tree/development/samples/gradle-android), you'll find instructions on how to setup IDE and also how to auto-download Android sdk components on remote machine.

[2017-02-13 13:55] rodrigobressan commented on #53
Oh :( I really hope someday we can use it together with Instant Run, since it looks like it's something built in Android Studio and not from command line, as @Tagakov pointed out.

Well, thanks for the answers (and sorry for the delay on the reply). Amazing project guys!

[2017-02-13 14:33] dhartwich1991 commented on #121
Hey, I did something in the way of this in #148

[2017-02-18 16:15] artem-zinnatullin opened #150 "Rename "Options" in readme"
During setup of Oleg Krupenich's machine, he noticed to me that he was unable to find documentation about the values in config files that were present in their repo already (`.mainframer/*`) by looking at our README and had to ask guys in his team for help.

He especially pointed that he saw `Options` but didn't realize that they're related to config files. Maybe we should rename it to `Config fil

[2017-02-21 07:01] arturdryomov commented on #121
Closing this after #148 success.

[2017-02-21 07:01] #121 closed, assigned to arturdryomov, artem-zinnatullin

[2017-02-21 07:04] artem-zinnatullin commented on #121
@dhartwich1991 thanks again for contribution!

[2017-02-21 07:15] artem-zinnatullin commented on #143
Closed by #145!

[2017-02-21 07:15] #143 closed, assigned to artem-zinnatullin

[2017-02-22 07:06] artem-zinnatullin commented on #150
Closed by #153.

[2017-02-22 07:06] #150 closed, assigned to arturdryomov

[2017-03-09 10:24] balachandarlinks commented on #17
**Local:**
Macbook Pro 13"  - Early 2015 - 2.7 GHz Intel Core i5 - 8 GB 1867 MHz DDR3 RAM
~3 mins

**Remote:**
Desktop - 32GB ram - Intel Core I7 6700K - SSD 512GS Samsung 960 Pro
Mainframer Docker Container (Android build tools on Ubuntu)- Allowed 4 cores and 12 GB RAM
~ 40 secs

[2017-03-09 10:43] rocboronat commented on #17
❤️

[2017-03-12 12:40] renegens opened #157 "Windows as remote machine"
Hello,

great project you have running here. Had anybody success running this with windows  10 bash or under normal Windows just to utilize the gaming pc that is sitting?

[2017-03-12 12:46] artem-zinnatullin commented on #157
Does it have rsync and ssh?

On Sun, Mar 12, 2017, 15:40 Rene Gens <notifications@github.com> wrote:

[2017-03-12 14:44] renegens commented on #157
@artem-zinnatullin yes it has both of them but I have trouble setting up the ssh up until now. Has anybody else tried it?

[2017-03-16 10:03] balachandarlinks commented on #157
Hi @renegens, you can set up a docker container with Linux on your windows machine. I have recently written this blog post which explains the Mainframer setup on a windows machine with docker container. It may be helpful to you.

Blog Post : https://medium.com/@balachandarkm/speed-up-android-builds-with-mainframer-docker-container-in-a-powerful-remote-machine-ce7b9e122a49

[2017-03-16 10:08] renegens commented on #157
@balachandarlinks Thanks for pointing this out, will check it asap. Great post btw :)

[2017-03-16 10:41] artem-zinnatullin commented on #157
@balachandarlinks like 👍 !

[2017-03-17 01:10] freemandealer opened #158 "A workaround using NFS Mounting"
I regret I didn't know mainframer sooner. I would have been thrilled several months ago if I see this, since I was looking for something exactly like this at that time. It's amazing!

However I have already figured out a workaround using NFS mounting. I mount my local project directory onto a remote powerful server so that I can edit codes locally while build codes remotely. The configuration is s

[2017-03-17 15:29] artem-zinnatullin commented on #158
We started with similar idea of mounting filesystem over network, but this approach didn't scale well:

* Different desktop OSes provide very different level of quality for network mounting depending on selected protocol.
* We didn't find a good solution for working offline and transparent sync once you get back online
* Build performance will depend on capability of your network between local and

[2017-03-17 15:29] #158 closed, assigned to nobody

[2017-03-22 08:48] bazted opened #159 "Sync on file change"
For some kinds of development like front-end, it is good to have possibility to sync files on each change. As far as I know rsync provides such functionality.
I think it will be great to have  specific configurations for file watcher.

[2017-03-22 10:29] artem-zinnatullin commented on #159
Yup, many build systems support such continuation modes, we can try to play with it. I have two concerns at the moment though:

* Slow network may result in backpressure
* `rsync` may not allow us create such a constant **two-way** sync channel (that would require some investigation and tests)

[2017-03-24 05:43] PaulWoitaschek commented on #17
Workstation (i7 5820k@4.2GHz, 16GB)   ->    00:20
c4.2xlarge (8 cores, 32 GB)   ->    00:23
c4.xlarge (4 cores, 16 GB)      ->    00:30
t2.xlarge (4 cores, 7.5 GB)    ->    00:30

Can someone explain why builds with only 7.5gb ram are so much faster than on the Mac with the same amount?

[2017-03-24 06:10] arturdryomov commented on #17
@PaulWoitaschek I would say that after a certain RAM threshold it matters very little. Compiling is mostly a CPU-intensive operation, especially DEX step for Android projects. Plus be aware that the build machine usually does the single thing — the build itself, when the laptop also runs DE, IDE, browser and so on. That’s all adds up and, well, you see the results yourself.

[2017-03-24 08:31] crysxd commented on #17
@PaulWoitaschek your MacBook has only 2 cores (+ 2 hyperthreaded) with little low level caches, you should not compare this to 4 native cores on a server CPU. RAM does not matter at all, you just have to have enough to keep everything in memory while compiling. From a certain point on (e.g. 6 GB for a project), more RAM does not bring any benefits.

[2017-03-26 17:08] PaulWoitaschek opened #160 "Product flavor build fails"
I have a very simple product flavor that just enables one configuration

[code]

When I now compile it like `./gradlew :audiobook:assembleSingleConfigDebug`,

the acutal compiling works but the deployment fails:

[code]

It complains about the `allConfigs` missing, which is expected because I did not pick that flavor.

[2017-03-26 17:16] PaulWoitaschek commented on #160
I had to go to the build variants tab and select the flavor I was building on the remote machine.

[2017-03-26 17:16] #160 closed, assigned to nobody

[2017-03-26 17:28] PaulWoitaschek opened #161 "ANDROID_HOME not picked up on remote machine"
Even though `ANDROID_HOME` is set up on the remote machine

[code]

The build fails with a
[code]

When I now ssh into the remote machine and set the local.properties with
`sdk.dir=/opt/android-sdk`
it builds fine.

[2017-03-26 18:07] artem-zinnatullin commented on #161
Please carefully read this section https://github.com/gojuno/mainframer/blob/development/docs/SETUP_REMOTE.md#environment

Hope that'll help! Feel free to comment/reopen.

[2017-03-26 18:07] #161 closed, assigned to nobody

[2017-03-26 18:09] artem-zinnatullin commented on #160
Yup, Android Studio determines location of the apk to install through
Gradle Sync on local machine. We all have been there :)

On Sun, Mar 26, 2017, 20:16 Paul Woitaschek <notifications@github.com>
wrote:

[2017-03-27 19:16] PaulWoitaschek commented on #17
This project is fantastic. Now I can sit on my couch with my crappy 2015 macbook and do actual programming instead of watching my mac getting too warm 👍

[2017-04-03 19:54] PaulWoitaschek commented on #161
I can't reopen.
My bashrc now looks like

[code]
But it's still the same. Do I overread something?

[2017-04-03 23:00] artem-zinnatullin commented on #161
Are you sure you're not reusing old ssh connection?

On Mon, Apr 3, 2017, 22:54 Paul Woitaschek <notifications@github.com> wrote:

[2017-04-06 08:56] artem-zinnatullin opened #164 "Dockerize CI."
Currently we have to fight with Travis Debian based OS to install dependencies for the build, we can move build into docker and do whatever we want there.

[2017-04-11 12:55] artem-zinnatullin commented on #157
I'm closing this issue for now, to sum up: preferred software options on remote machine with Windows OS are Docker, VM with Linux or integrated "bash supported" (parts of Linux/Ubuntu environment).

Please feel free to comment into this issue or submit a PR with documentation on configuring Windows as remote machine for Mainframer.

[2017-04-11 12:55] #157 closed, assigned to nobody

[2017-04-11 12:57] artem-zinnatullin commented on #53
I'm closing this issue for now.

Summing up: Since Instant Run deeply integrated into Android Studio (and Gradle) and cannot be used from command line, we can not offer Mainframer integration with Instant Run at this moment.

Please feel free to comment, add more info or invite guys from Android Developer Tools team or JRebel to this discussion.

[2017-04-11 12:57] #53 closed

[2017-04-11 13:03] artem-zinnatullin opened #165 "Codestyle"
As suggested by @balachandarlinks https://github.com/gojuno/mainframer/pull/163#issuecomment-293242087 since planned `--continuous-sync` feature can dramatically increase size and complexity of the `mainframer.sh` we need to accept some code style to keep project under control.

Suggested option was [Google's code style for shell scripts](https://google.github.io/styleguide/shell.xml), which is mo

[2017-04-13 09:30] artem-zinnatullin commented on #164
And btw current setup also requires a developer/contributor to install whole bunch of different things to run tests locally, this is bad.

[2017-04-14 18:59] PaulWoitaschek commented on #161
Yes I'm sure. Rebootet several times since then.

[2017-04-14 19:01] PaulWoitaschek opened #166 "Use intellij to compile without deployment target"
Is it possible to configure intelij / AS to let the remote machine build and sync changes without a target device selected?
While developing I don't always have a device connected and what I'm looking for is the `Build/Build APK` option.

[2017-04-15 00:14] AndreasBackx opened #167 "Docker proof of concept"
I thought it would be neat to have mainframer work with Docker so it can be easily used anywhere very easily without any setup by the users. Dockerfiles could perhaps be made available for multiple environments? I've got a proof of concept ready for Android called [mainframer-android-docker](/AndreasBackx/mainframer-android-docker). Everything is explained in the README, but if you have any questi

[2017-04-15 14:05] AndreasBackx commented on #32
@artem-zinnatullin I was thinking about writing Mainframer in Go. It's easy to provide binaries for every system that way. Making backwards-compatible changes are also a lot easier because of all the benefits you get when using almost any programming language. There would also only be a single binary.

[2017-04-15 14:54] artem-zinnatullin commented on #32
That would require us to make ssh and rsync compatible clients which is
much more complicated than current version of Mainframer. Or you want to
call ssh and rsync from it? If so, I'm not sure benefits worth it %)

Also binary will be heavier than text file in terms of size and would
require to make some kind of wrapper (like gradlew) which basically removes
all the benefits of rewriting Mainframe

[2017-04-15 21:26] artem-zinnatullin commented on #166
Yes, this is totally possible! Easiest way to do is to use [elpassion/mainframer-intellij-plugin](https://github.com/elpassion/mainframer-intellij-plugin).

1. `Edit Configurations…`
1. `Add new configuration` → `Mainframer`
1. Give it a name
1. Set some build command, i.e.: `./gradlew :app:assembleDebug`

Now you can simply run it as regular `Run Configuration` with good log output right from Int

[2017-04-15 21:26] #166 closed, assigned to artem-zinnatullin

[2017-04-15 21:44] artem-zinnatullin commented on #161
What OS is on your remote machine? We use Ubuntu Server 16.04.2 LTS on remote machine and solution from [SETUP_REMOTE](https://github.com/gojuno/mainframer/blob/development/docs/SETUP_REMOTE.md#environment).

I also have machine with `zsh` as default shell and `~/.zshenv` works for both interactive and non-interactive shells on it.

[2017-04-16 19:59] AndreasBackx commented on #32
For a simple port I'd start with simply calling ssh and rsync from it. In the future we could implement these directly using Go libraries and the benefit would then be that no setup is necessary on the client machine and it could be made cross platform. We could have `brew install mainframer` and it would be ready for use, the same applies for other operating systems. (Linux and MacOS do tend to h

[2017-04-18 21:50] PaulWoitaschek commented on #161
It's my Arch Linux desktop.

[2017-04-20 10:43] artem-zinnatullin commented on #161
Then I'm not sure since I'll be my assumptions on googling, haven't use
Arch, if you'll find something — please post it here!

On Wed, Apr 19, 2017, 00:50 Paul Woitaschek <notifications@github.com>
wrote:

[2017-04-30 23:50] DSteve595 opened #168 "Show file sync progress"
It'd be very nice to have a progress indicator for Mainframer's local/remote rsync, especially for first runs and/or slow connections.

Instead of `Sync local → remote machine...`, something like `Sync local → remote machine... 30%` would be helpful.

Thanks for this great tool!

[2017-05-01 13:39] artem-zinnatullin commented on #168
@ming13 played a little bit with it, what are the results?

https://serverfault.com/questions/219013/showing-total-progress-in-rsync-is-it-possible/441724#441724

[2017-05-04 08:49] arturdryomov commented on #168
Rsync with `--info=progress2` will show something like this.

[code]

The format is not very helpful. We can use `awk` [like this](https://unix.stackexchange.com/questions/44860/making-a-progressbar-with-dialog-from-rsync-output) or pipe output [like this](https://gist.github.com/JohannesBuchner/4d61eb5a42aeaad6ce90#file-rsyncprogress-py-L11).

[2017-05-04 09:01] artem-zinnatullin opened #169 "Rename mainframer.sh to mainframer."
by most used convention for shell scripts (ie google style guides for shell scripts) they should be named without file extension.

cc @ghostbuster91 @pawegio

[2017-05-04 09:02] artem-zinnatullin commented on #32
Update: we're considering publishing Mainframer to brew and other repos in some near future since tool is so mature and stable now that it's hard to work on projects without it  (it's like git/etc).

[2017-05-04 19:13] AndreasBackx commented on #167
Any feedback on this?

[2017-05-06 12:06] artem-zinnatullin commented on #167
Well, yes, lot's of it, not sure where to start :)

JFYI we were considering running docker container for each user on remote machine but decided to stick to regular setup since it's easier to maintain for relatively small company. Good scalable solution would require **a lot** of work.

Now about your POC:

* You're removing one of the main performance benefits of Gradle — Gradle daemon, by start

[2017-05-06 14:16] artem-zinnatullin commented on #169
@ming13 let's make a PR to IntelliJ plugin first?

[2017-05-06 18:23] AndreasBackx commented on #167
Thank you for the feedback! My main goal is to get rid of all the setup required for mainframer for various projects. By providing a way of working with Docker, the users only need to have a Docker server running that they can SSH into (unless you make Docker listen on a port). This way it is easy to spin up multiple types of projects.

Setting up a Docker server is a lot easier than figuring out

[2017-05-06 19:24] artem-zinnatullin commented on #167
I would like to apologise if my comments made you angry or sad, this is not the intention, I'm basically just describing my vision of Dockerization of the remote machine and wanted to do this anyway so this issue now is a good resource to share the knowledge :)

True, true. We do so for microservices/CI, but this is pretty different use-case!

I would agree, **but**: for instance build without alr

[2017-05-06 21:32] AndreasBackx commented on #167
No need, I just write a lot more compared to other people and might come off as sharp, but no hard feelings 😉 Thank you for the feedback, I really do appreciate it and apologise if I seemed angry or sad, quite the opposite! I agree that this is a good way of sharing the knowledge and opinions.

Good to know, I didn't know the difference was that massive. I was already happy to get the load off of

[2017-05-18 00:05] artem-zinnatullin commented on #169
@ming13 what have we decided regarding "breaking change"? Is it one or it's not and I can go ahead and make a PR?

I'm using Mainframer in lots of personal projects (I have a Linux server at home now lol) and kinda want it to be a system wide tool already

[2017-05-18 08:03] arturdryomov commented on #169
I think we can make a PR to the plugin before we prepare a next release. It allows to download the tool using our release tags, otherwise it is possible to change the path manually, so I think it is a pretty safe bet.

[2017-05-20 23:05] #164 closed, assigned to artem-zinnatullin

[2017-05-28 05:34] PaulWoitaschek opened #172 "Uses wrong project"
My audiobook player uses the Android NDK in the current versions.

https://github.com/PaulWoitaschek/MaterialAudiobookPlayer/blob/master/exoplayer-opus/build.gradle#L44

Therefore I pass the NDK dir to a custom task in the buildSrc folder:

[code]

However now mainframer uses the NDK directory of my host machine, not my remote machine and therefore fails the build.

[2017-05-28 10:27] artem-zinnatullin commented on #172
How do you build project with Mainframer?

I guess path to ndk gets written to some file that is synched by mf and then Gradle tries to use that path on remote machine, we had similar problem with Kotlin compilation and JB fixed that.

[2017-05-28 19:51] PaulWoitaschek commented on #172
I just do a `./mainframer.sh ./gradlew assembleRelease`. I don't get the question, are there other ways for building a project with mainframer?

[2017-05-28 20:20] artem-zinnatullin commented on #172
Well I was hoping that mistake was easy like `./mainframer.sh ./gradlew assembleRelease -Pndk-path=path_on_local_machine` :)

Can you please try to find ndk path in some files in the project that might be synched to remote machine?

Something like `grep -R "path_to_ndk_on_local_machine" ./` in project directory on local machine? Or even better — `cmd + F` in project directory in IntelliJ?

There a

[2017-05-28 20:37] PaulWoitaschek commented on #172
I can't replicate it rigth now. When it happens again I'll reopen. Damn quantums :D

[2017-05-28 20:37] #172 closed, assigned to nobody

[2017-05-28 20:41] artem-zinnatullin commented on #172
Did you run gradlew clean? I believe it only happens when you've built
project locally and then tried to build it remotely.

On Sun, May 28, 2017, 23:37 Paul Woitaschek <notifications@github.com>
wrote:

[2017-05-29 20:27] ghostbuster91 opened #173 "Add possibility to configure remote machine name via command line parameters"
A possible situation:
I have two machines for remote compilation but none of them is accessible from public network. One is in my home and the other in the office.

To change the name I have to change the `config` file.
It would be easier to specify it just through command line arguments
 e.g. `./mainframer.sh -r REMOTE_MACHINE_NAME taskName`

In additions it would make intellij idea integration w

[2017-05-29 22:10] artem-zinnatullin commented on #173
Hm, but isn't it easier to change it just in the file and keep running Mainframer without any additional parameters?

[2017-05-30 07:54] ghostbuster91 commented on #173
But if I had such parameter I could create two separate command aliases or scripts.
With file I have to create script which will replace my remoteMachineName in mainframer configuration.

Ofc this parameter would be optional.

[2017-05-30 09:59] artem-zinnatullin commented on #173
Ok I'm pretty open for such a parameter, @ming13 what do you think?

[2017-05-30 10:41] arturdryomov commented on #173
We’ve discussed config and argument parity some time ago. At this time we used it on a single project using a single machine, so we shut it down. I guess we should rethink it in the light of plans to provide Mainframer as a system-wide tool.

[2017-05-30 10:44] PaulWoitaschek commented on #173
+1 for this. I have a script I run as an alias for mainframer that writes the server I want to the config file and then calls mainframer.

When I'm home and developing from the couch it goes to my local machine but when I'm at a client I'm accessing that machine through the internet.

[2017-05-30 14:16] artem-zinnatullin commented on #173
Ok, let's do it, I suppose we should support both short and long form of argument passing, i.e:

[code]

[2017-05-30 14:19] PaulWoitaschek commented on #173
Why not just something like:

`./mainframer -c configFile ./gradlew assembleRelease`

So you just point to a config file? When absent it uses the default config file.

[2017-05-31 19:06] artem-zinnatullin commented on #173
Yup, that could also be added, however just passing config values as
arguments is valuable as well since it does not require managing files

On Tue, May 30, 2017, 17:19 Paul Woitaschek <notifications@github.com>
wrote:

[2017-06-27 18:37] ghostbuster91 commented on #169
Since plugin is basing on release tags as @ming13 noticed will you rename previous artifacts to not contains `.sh` or should we drop support for 2.x versions?

[2017-06-27 18:53] artem-zinnatullin commented on #169
No, we won't rename previous artifacts (releases are immutable for us).

It's up to you though whether to support or drop 2.x versions in IntelliJ Plugin, but we will definitely update Mainframer version to 3.x with this change since it's a breaking change for automation and IntelliJ Plugin

[2017-06-27 19:23] #169 closed, assigned to artem-zinnatullin

[2017-07-12 22:13] artem-zinnatullin opened #176 "Add "fallback to local execution" feature."
So I was thinking about smooth experience of using Mainframer with and without connection to remote machine.

In many cases Mainframer is used as performance boost for local machine, while at the same time local machine is also configured enough to perform the task. So maybe we can add `fallback_to_local_machine`/etc option to the config?

i.e. you don't have internet connection and initial rsync

[2017-07-13 04:34] arturdryomov commented on #176
Sounds fine to me, but we need to investigate `rsync` capabilities regarding this. But we can just do `ssh -q user@host exit` and check its result, moving on to `localhost` if it fails.

[2017-07-13 06:04] PaulWoitaschek commented on #176
Do you want to make this the default?

I really don't want my local machine to build in any case. Instead of waiting for about 12 minutes, I want it to fail quickly so I know and can turn my remote machine on.

[2017-07-13 06:19] arturdryomov commented on #176
It will be totally optional.

[2017-07-13 20:39] artem-zinnatullin commented on #176
I would actually do this by default, but highlight in the docs that this behavior can be disabled.

The reason for that is to make more smooth experience without forcing user to switch run configs in IDE and running different commands in terminal :)

@ming13 I'd prefer to not do separate `ssh -q user@host exit` calls to save execution time and instead try to parse initial `rsync` call output

[2017-07-13 20:50] arturdryomov commented on #176
Actually, regarding the IDE — IJ plugin can fallback to local execution using a single button.

BTW it is kind of dangerous to fallback to local by default. In theory I would want to process 1 TB of video on a remote machine and suddenly I realize my Macbook burnt a table underneath. Not a nice thing.

There are two use cases from my point of view.

* IDE. The plugin has an ability to disable remo

[2017-07-13 22:15] artem-zinnatullin commented on #176
Hm, okay, I agree with you-had-one-job principle, so it might be a feature request for IntelliJ plugin.

Let's create feature request in https://github.com/elpassion/mainframer-intellij-plugin then and close this one?

[2017-07-21 04:33] erawhctim opened #177 "Issue building Android project"
First off - sorry that this isn't directly related to mainframer... but I'm hoping you can help me anyway.

Building my project both locally and remotely ssh'd into the remote machine works perfectly fine, however building through mainframer causes a build error relating to the "ANDROID_HOME" env. variable not being available.

[code]

...even though `echo $ANDROID_HOME` when ssh'd into the machin

[2017-07-21 04:38] artem-zinnatullin commented on #177
Can you please check if https://github.com/gojuno/mainframer/issues/161 helps you?

[2017-07-21 05:04] PaulWoitaschek commented on #177
I ended up with manually ssh-ing and creating a local.properties first.

[2017-07-21 05:14] artem-zinnatullin commented on #177
Oh god :(

On Thu, Jul 20, 2017, 22:04 Paul Woitaschek <notifications@github.com>
wrote:

[2017-07-21 11:06] neworld commented on #173
+1. I am in the same situation, two remote machines in two different locations. All team is using mainframer and configs are in the repo. Sometimes I accidentally push these configs. It is quite annoying to fixing it.

[2017-07-22 23:41] artem-zinnatullin commented on #173
@neworld for now you can temporary ignore changes you do in this file if you use git so you don't accidentally commit it http://gitready.com/intermediate/2009/02/18/temporarily-ignoring-files.html

But we heard you :)

[2017-08-30 10:36] edwardstock commented on #17
Oh my god! You are save my nerves!
Before (macbook pro late 2012 i5 8G ram): 2-3 minutes
After (hackintosh i7 3770 16G ram): 15-20 seconds! This is awesome!

[2017-08-30 12:16] edwardstock opened #179 "Rebuild and Make project commands (idea plugin)"
Hi! How can be achieved rebuilding and making project inside Idea (android studio) ?
What i did:
* installed Idea plugin
* Configured project, app run/debug working properly
* Run Configuration (Mainframer) selected as default

But, for example. I'm doing custom view, after some changes in this view, idea prints error "custom view has been edited more recently[...]. Build the project". When i clic

[2017-08-30 16:49] edwardstock commented on #49
Nice solution!

By the same way, can take gradle options from: .idea/workspace.xml
[code]

[2017-08-30 19:13] artem-zinnatullin commented on #179
Can you please create an issue in IntelliJ Plugin repo https://github.com/elpassion/mainframer-intellij-plugin?

We'll follow up there, if it can't be solved by plugin, we should probably create ticket against Android Studio as it doesn't sync file changes properly.

[2017-08-30 19:14] artem-zinnatullin commented on #179
I'm closing issue in this repo, please just copy-paste it to https://github.com/elpassion/mainframer-intellij-plugin and crosslink them for discoverability, thanks!

[2017-08-30 19:14] #179 closed, assigned to artem-zinnatullin

[2017-08-31 08:53] edwardstock commented on #179
Thank you! By the way, refreshing issue solved just after restart android studio (3.0 beta 2).

[2017-08-31 14:43] artem-zinnatullin commented on #179
Great, thanks for update!

[2017-11-03 09:06] ILAgent opened #180 "Using mainframer with rsync and local machine on Windows"
Hi!
We use mainframer for building one big android project.  And we use rsync for copying files from local to remote and back. The issue is sync from remote to local is too long (about 90 seconds) when local machine is on Windows. If local machine is on Mac copying takes about  5-10 seconds.
I guess it because a lot  of files are copying and NTFS is slow in that case unlike Mac OS, but I'm not sur

[2017-11-03 09:48] Pozzoooo commented on #180
Well, we don't use Windows, so I'm not sure about the specific issue.
But our project used to sync 500MB files, and the sync was slow anyway, so what we did to improve is to sync the executable only (in our case apk), ignoring everything in the build but the output folder.

[2017-11-03 10:44] Tagakov commented on #180
Syncing the whole build folder is necessary because it contains generated code which is used by IDE.

I think zipping all build folder and transmitting it as a single file can give some boost, but I am not sure.

[2017-11-03 15:09] artem-zinnatullin commented on #180
From our experience zipping won't really help in compare to rsync compression, but I'd definitely try `9` as compression level (you can set it for both local and remote, but remote is the main one in your case), see https://github.com/gojuno/mainframer/blob/development/docs/CONFIGURATION.md#config

Please report back with results!

[2017-11-03 15:54] ILAgent commented on #180
@artem-zinnatullin thank you, but tried already with no success (

[2017-11-06 20:48] Tagakov commented on #180
Changing compression level doesn't affect speed significantly. The main reason (possible) why zipping could help is moving responsibility of creating huge number of files (hai ntfs) to native zip-tool realization. I am not sure that this could actually help.

[2017-11-06 21:21] artem-zinnatullin commented on #180
You can try `scp + tar + gzip/pigz` [version of Mainframer](https://github.com/gojuno/mainframer/blob/ca85d95a751de322d7d8babd021f2332a0c88f0e/mainframer.sh) and report back, you should be able to adapt old code to new in ~5 minutes :)

No changes required for remote machine, unless you want to squeeze more performance with `pigz` (just install `pigz` on local and remote machine then)

[2017-11-10 08:50] PaulWoitaschek commented on #180
It would be great to have some kind of status report what's taking so long. Is it the compression or the network?

Even on my local network a full sync of a larger project takes
[code]

[2017-11-12 14:43] ILAgent commented on #180
It looks like a sync so slow because a lot files are syncing and antivirus is enabled (I have no permission for disable). Sync with "scp + tar + gzip/pigz" is faster a lot, but in that case unpacking takes too much time.
Thanks to everyone !

[2017-11-12 14:43] #180 closed, assigned to nobody

[2017-11-13 01:27] artem-zinnatullin commented on #180
Great, thanks for checking `scp + tar`!

Would be super great if you could eliminate Antivirus from the measurement, it would really help other users to get a sense of how badly it affects the performance.

[2017-11-13 01:32] artem-zinnatullin commented on #180
@PaulWoitaschek we've played with speed/duration logging in rsync, but design of its protocol doesn't let it calculate duration upfront (I know it's not directly related to your question), I also don't think we can pull statistics about compression out of it (only by hooking into its code and building custom binary I guess).

To measure impact of compression you can try to disable it by setting it

[2017-11-13 05:49] PaulWoitaschek commented on #180
I'm on Mac (client) to Linux (host)

[2017-11-24 03:46] artem-zinnatullin opened #182 "Plugins system!"
At the moment the only ways to customize Mainframer behavior are:

- Modify the source code of Mainframer (easy, since we ship it as a bash script, but it's easy to break compatibility and it complicates updates for user)
- Make a custom ssh server that'll do necessary work once Mainframer connects to it (pretty hard, limited functionality,  but doesn't break compatibility and Mainframer can be up

[2017-11-24 03:51] artem-zinnatullin commented on #182
Most likely we'll need to allow plugins to resolve some configuration parameters for Mainframer, ie dynamically resolve remote machine connection parameters.

[2017-11-28 07:08] bhargavms opened #183 "How do I specify the gradle task based on current build variant selected?"
So android studio has option to select build variants, and gradle aware make - performs compilation for that variant, how do I have similar behavior using mainframer?

[2017-11-28 07:39] artem-zinnatullin commented on #183
We recommend you to use [Mainframer IntelliJ Plugin](https://github.com/elpassion/mainframer-intellij-plugin) from elpassion.

I think they recently added macros support for exact same reason, please check:

- Issue https://github.com/elpassion/mainframer-intellij-plugin/issues/170
- PR https://github.com/elpassion/mainframer-intellij-plugin/pull/175

Solution should be part of Mainfraimer Intelli

[2017-11-28 07:39] #183 closed, assigned to artem-zinnatullin

[2017-11-28 07:50] bhargavms commented on #183
@artem-zinnatullin thank you for the swift response will take look at the links!

[2018-02-05 07:00] arturdryomov opened #185 "OS-wide usage"
After using Mainframer for a while with different projects we’ve been pointed to a specific pain point — shipping the tool with _a_ project forces you to ship it with _all_ projects.

In other words, the suggested way is to include the `mainframer.sh` in a VCS of choice and update it manually on a project-level basis. Unfortunately it does not scale well.

I think it is time to evolve Mainframer t

[2018-02-05 07:01] arturdryomov commented on #185
Homebrew Formula is mostly ready and actually works.

[code]

[2018-02-06 21:16] artem-zinnatullin commented on #185
Do we want to finish initial 3.0 before going to repositories like Homebrew?

[2018-02-07 05:59] arturdryomov commented on #185
What do you have in mind for 3.0?

[2018-02-14 03:29] artem-zinnatullin commented on #185
Everything from your list is blocking and I also want that, other than that:

- #182 Plugin system (optional, shouldn't block 3.0 release)

[2018-02-14 23:22] artem-zinnatullin opened #188 "Continuous sync from remote to local machine during remote command execution."
Currently Mainframer has 3 main steps that run in serialized manner one after another:

1. sync from local to remote machine
1. remote command execution
1. sync from remote to local machine

Step №1 is typically fast enough and not much we can do here, optimization of step №2 is not something we can do in Mainframer, but step №3 actually looks like something we can optimize in Mainframer.

Instead

[2018-02-15 04:13] arturdryomov commented on #188
It might work, but there is an issue regarding a _black box_ nature of the execution phase. The execution itself _might_ produce some intermediate files that are being discarded on completion. In the suggested scenario we are going to copy them anyway, i. e. introducing redundancy of unknown amounts (since we don’t know if it is going to be GiB or KiB). Plus an IDE or an another client-side indexi

[2018-02-15 08:14] artem-zinnatullin commented on #188
These are valid concerns for sure, but I think it still might worth it.

Unnecessary intermediate files most likely can be ignored through `remoteignore` config.

Afaik IDEs (IntelliJ) don't hook into filesystem notifications, so if you keep using Mainframer IntelliJ Plugin it will only trigger IDE file sync after Mainframer exit which we will do only after final `rsync` run after remote command e

[2018-02-15 09:12] artem-zinnatullin commented on #125
Closing by #178.

Guys from Elpassion did awesome work on a plugin, it supports any build system integrated with IntelliJ as well as custom build steps, highly recommended!

[2018-02-15 09:12] #125 closed, assigned to nobody

[2018-02-23 16:53] artem-zinnatullin opened #190 "Travis CI: log length has exceeded the limit of 4 MB"
I think they've changed terminal session parameters, log seems to be overflooded by repeating interactive messages (like progress output) even from things like git clone which Travis does on its own.

Example: https://api.travis-ci.org/v3/job/340900769/log.txt

However we still should reduce output of things like `apt-get`, Android SDK installation and so on.

[2018-02-28 20:24] satanyakiv commented on #53
Hi there!

I'm very new in mainframer setup...

Does anything changed with Instant Run for now?

@artem-zinnatullin

[2018-02-28 20:47] arturdryomov commented on #53
Nope, nothing new on this. Instant Run is IDE feature only, so no offloading to a separate machine will help you with this. At least I think so, since I’m not using IR at all.

[2018-03-01 12:51] artem-zinnatullin opened #192 "Resolve actual version from git tag during build."
Currently version is stored in project config which require us to update it manually and commit every time, we should get it from current git tag during build as we do for other projects like:

- https://github.com/gojuno/composer
- https://github.com/gojuno/koptional

and others which allows us release new versions just by pushing new tag or through GitHub releases.

[2018-03-01 13:02] artem-zinnatullin commented on #192
Related: https://github.com/gojuno/mainframer/pull/191/files#r170609701

[2018-03-01 13:12] artem-zinnatullin opened #193 "Make Rust build stricter."
Specifically:

- Fail build if compiler gives any warnings
- Look into integrating https://github.com/rust-lang-nursery/rust-clippy

[2018-03-01 13:14] artem-zinnatullin opened #194 "Run shellcheck for integration tests."
Our integration tests are written in Bash, we need to run shellcheck against them to make sure we didn't screw it.

[2018-03-01 13:34] artem-zinnatullin commented on #190
Closed by #191.

[2018-03-01 13:34] #190 closed, assigned to artem-zinnatullin

[2018-03-01 14:33] artem-zinnatullin commented on #193
Hmm, looks like failing build because of warnings is not considered a super great practice in Rust community (cc @pepyakin):

- https://github.com/rust-unofficial/patterns/blob/master/anti_patterns/deny-warnings.md
- https://users.rust-lang.org/t/how-to-fail-a-build-with-warnings/2687/9

As far as I understand it's mainly due to the way you get Rust on your system, by default `rustup` brings whate

[2018-03-02 13:18] artem-zinnatullin opened #198 "Deploy Mainframer binaries to GitHub releases."
Since we now use compiled language #191, we need to ship binaries instead of source code.

To do that I'm planning to deploy resulting binaries to GitHub releases which can be either manually downloaded or installed through Homebrew/etc. Later we could also upload binaries to Bintray to have them there just in case.

As a reference example, this is how `ripgrep` does it:

- [ripgrep GitHub release

[2018-03-04 21:02] artem-zinnatullin opened #200 "Setup CI build for macOS."
So later we could use it for publishing macOS binaries #198.

[2018-03-04 21:02] #194 closed, assigned to artem-zinnatullin

[2018-03-05 01:56] artem-zinnatullin opened #201 "Add help command/option."
This is not super critical as we have examples here, however it's a good opportunity to integrate command line arguments parsing.

It could be a little big challenging because we have to support multi args remote commands like this:

[code]

It's not directly affecting `help` option because this one is a little bit unique and typically you pass just it without any other parameters (unless you want

[2018-03-05 08:16] #200 closed, assigned to artem-zinnatullin

[2018-03-07 06:15] artem-zinnatullin commented on #198
@ming13 I'm thinking about deploying `3.0.0-alpha-1` so we could start preparing Homebrew formulae #32 , #185 and you could start ~~dogfood~~ using Rust version at Juno

So then later we could deploy update with #188 or #189 and check update mechanism

wdut?

[2018-03-09 19:49] arturdryomov commented on #198
Sure, let’s do it.

[2018-03-14 08:50] artem-zinnatullin opened #205 "Add stdout/stderr integration test."
It works, but would be great to have tests for that.

[2018-03-20 17:14] artem-zinnatullin commented on #192
Closed by #203.

[2018-03-20 17:14] #192 closed, assigned to artem-zinnatullin

[2018-03-20 17:16] artem-zinnatullin opened #206 "Update demo in README for 3.x."
Demo shows Mainframer 1.x (1.x!!), this issue tracks demo update for 3.x so we don't forget to do it.

We also need to make it faster (I can type faster, I swear!)

[2018-03-20 17:18] artem-zinnatullin opened #207 "Update documentation for 3.x."
Most of documentation is actually compatible with 3.x, but specifically section about downloading and keeping Mainframer will need to be updated as we switch to distribution through Homebrew and other package managers #32 and OS-wide usage #185.

[2018-03-21 09:23] arturdryomov opened #208 "Move version from output to a command line argument output"
Since Mainframer will be shipped as a system-wide command...

* It is possible to find out the version using the `--version` command. Bash script could have this too though, but anyway.
* `brew info mainframer` should show the same.

This way we can remove `:: mainframer v2.1.0` from the output.

@artem-zinnatullin, WDYT?

[2018-03-21 13:24] artem-zinnatullin commented on #208
Yep, but at the same time it eases figuring out if something is wrong when user just copy-pastes the output.

Also, I think it encourages users to check new versions and keep Mainframer up-to-date :)

But I hear you, I was thinking about it too during Rust rewrite.

[2018-03-23 20:08] artem-zinnatullin opened #209 "Improve documentation on exporting environment for ssh."
Depending on shell (and sometimes OS distro) users need to declare exported variables in different files.

Currently we just briefly describe what to read, but don't give concrete examples.

We need to document common cases like Bash/Zsh.

[2018-03-23 20:55] artem-zinnatullin opened #210 "Reflect current state of project in the README."
People are getting confused on what happened with Bash version after we rewrote it in Rust #191 (I got emails) and which version should be used at the moment.

We should add a section to the README that'll reflect current state of the 3.x development, suggest to keep using 2.x until we release 3.x and how to try 3.x builds.

[2018-03-24 03:40] artem-zinnatullin opened #211 "Add option to show which files were synced to debug sync process."
Currently it's pretty hard to understand what bottlenecks the sync process.

An option to show what files get synched might help reveal files that are getting synced unintentionally and slowing down sync process.

@ming13 wdyt?

[2018-03-24 03:44] artem-zinnatullin commented on #211
rsync has two options that could potentially help in that:

- `-n, --dry-run show what would have been transferred`, we can run rsync twice if Mainframer was launched with this option to show what will be synced and then actually sync it.
- `-v, --verbose increase verbosity`

[2018-03-25 19:11] artem-zinnatullin commented on #182
I still think this is very important feature, but I've removed it from 3.0.0 milestone.

We can ship initial 3.x without it and add it later.

[2018-03-25 20:54] artem-zinnatullin opened #213 "User-level config files in $HOME directory."
As we're making Mainframer OS-wide tool #185, we need to add support for configuration files stored in user-home `$HOME` directory that will be used in case when work-dir doesn't have them.

Purpose of this feature is to enable use cases like:

[code]

When you have project(s) you don't want to configure specifically and just let Mainframer do its work with 0-setup on project level.

Current plan:

[2018-03-25 21:14] artem-zinnatullin opened #214 "Replicate path to the project from local machine on remote machine."
At the moment Mainframer 2.x creates following path on remote machine:

Example:

[code]

As we scale Mainframer for OS-wide usage #185, chances of folder name clashing increase.

Example:

[code]

In the example above projects with different path on local machine end up in same path on remote machine.

This is unfortunate and unexpected by user.

I propose following simple solution: include part

[2018-03-26 07:53] ghostbuster91 commented on #161
I think that this issue and #177 are the same. And here is the reason: https://stackoverflow.com/questions/216202/why-does-an-ssh-remote-command-get-fewer-environment-variables-then-when-run-man

TLDR:
Neither `~/.bash_profile` nor  `~/.bash_login` nor  `~/.profile` are read when using bash in non-interactive mode.

[2018-03-26 07:57] ghostbuster91 commented on #177
Maybe this will help:
https://stackoverflow.com/questions/216202/why-does-an-ssh-remote-command-get-fewer-environment-variables-then-when-run-man

TLDR:
Neither `~/.bash_profile` nor  `~/.bash_login` nor  `~/.profile` are read when using bash in non-interactive mode. In non-interactive mode use the ssh environment variables.

`vi ~/.ssh/environment`
`VAR1=VALUE1`
`VAR2=VALUE2`

[2018-03-26 08:14] ghostbuster91 commented on #173
Any updates on this?

[2018-03-26 12:00] artem-zinnatullin commented on #173
Yep, I think this is important feature, let me add it to 3.x milestone

I'm also thinking about splitting `project/.mainframer/config` into two files, so one could be committed to the repo and the other one could be ignored, like `local.properties`

[2018-03-29 13:12] artem-zinnatullin opened #215 "Refactor ci/build.sh: extract BUILD_COMMAND into separate script file."
Currently we maintain `BUILD_COMMAND` variable to do some actions inside Docker container.

https://github.com/gojuno/mainframer/blob/8c3033fffbc62bab6f3b28314308bf64cd9a0fa2/ci/build.sh#L43-L58

It gets more and more painful to add logic to it, so we should extract it to a separate script file and just execute it inside container.

[2018-04-01 13:25] arturdryomov commented on #214
So yeah, it will not work with any directory out of the home one ([BTW stop calling it folder like a Windows animal](https://superuser.com/a/187903)). I think the more scalable approach is to leave it as is and add a project-specific option (might complicate things though). Or just don’t do anything at all since it seems to be an edge-case, isn’t it?

[2018-04-01 13:29] arturdryomov commented on #213
Please don’t forget about `XDG_CONFIG` (Linux-specific).

On other note, I think we should actually merge configs like Git does. Take global first, merge with local and use the result. It is not that hard actually, especially since we have a _real_ programming language to use.

[2018-04-01 13:31] arturdryomov commented on #211
Gradle projects sync _a lot_ of files, but I can see where you are going. I think there is a room for the `--verbose` flag which will pass it to `rsync` and `ssh`.

[2018-04-01 13:31] arturdryomov commented on #210
Damn, we should have used a `3.x` branch :-(

[2018-04-01 17:29] Pozzoooo commented on #213
@ming13 The integration tests are actually testing properly merged config file like you described, though for the ignore files it is using the local and fall backing for the shared ones, so no merge tests for ignores.

Also, there is a small challenge on this approach, as user could run mainframer at any folder, it might happen to run in the wrong folder.
It happened to me some times, I end up syn

[2018-04-01 21:35] artem-zinnatullin commented on #213
Merging is not that easy tho, specifically because we don't have a format to unignore stuff like git does:

[code]

[2018-04-01 23:10] artem-zinnatullin commented on #211
Main idea is to debug cases like:

[code]

So you could figure what files get regenerated and synced again even after "100%" incremental build.

Regarding `ssh`, I think that should be a separate flag

[2018-04-01 23:16] artem-zinnatullin commented on #214
Good point, sometimes project can be outside of `$HOME` dir, however I bet this is not really common on Unix.

To support both cases, we can actually replicate full path from local machine on remote machine:

[code]

WDYT?

---

We should definitely add a `config` option to set remote path in future, but there are few complications (specifically in terms of how things like `~` should be expanded)

[2018-04-02 00:28] #198 closed, assigned to artem-zinnatullin

[2018-04-02 06:23] arturdryomov commented on #214
👍

[2018-04-08 02:47] artem-zinnatullin commented on #188
[code]

Something I'll have to deal with…

[2018-04-08 02:50] artem-zinnatullin commented on #188
I guess warning is fine and actually points to intermediate files that should be ignored via config, but this one is error:

[code]

(Noice error output btw, 😽myself)

[2018-04-08 02:58] artem-zinnatullin commented on #188
mhm, this problems seems to be consistently appearing during clean tasks like

[code]

Doesn't happen during clean/incremental builds so far.

[2018-04-20 22:16] artem-zinnatullin opened #219 "Whitelist/Include mode."
On our big project I'm constantly facing issue of syncing too much unnecessary data thus have to explicitly ignore lots of different entries.

Another problem is that if you change some source files locally during remote execution, Mainframer can override them with remote version after `Sync remote → local machine...`

To solve these issues we can give users a way to mix following `rsync` options:

[2018-04-20 22:19] artem-zinnatullin commented on #219
This won't be a breaking change btw

[2018-04-21 08:59] Pozzoooo commented on #219
Global configuration are quite useful here :)

For the sync back I've added *.kt and *.java in the localignore

[2018-04-21 23:30] artem-zinnatullin commented on #219
Yeah, in my case there are also files with no pattern in them

Also excluding everything by default and whitelisting what you want to sync might make `rsync` faster during fs lookup, I'll need to benchmark this though

[2018-04-23 05:43] arturdryomov commented on #219
Sounds good, but isn’t it gonna complicate things by a certain magnitude? I. e. you should keep in mind which files are included and excluded and what the resolution would be in the end. I’m talking about the user perspective BTW.

What about a radical idea to replace excludes with includes only?

[2018-04-23 05:44] arturdryomov commented on #188
Hey-ho, say hello to races 🚗

[2018-04-23 07:45] artem-zinnatullin commented on #219
Well, yeah I've thought about includes-only but idk, you can get exact same problem but upside down.

What I like about current proposal is that it's not breaking change or complication, but rather an additional feature.

Also, git has similar concept with `!` to unignore stuff.

[2018-04-23 08:30] arturdryomov commented on #219
Then sure thing, let’s do it!

[2018-04-23 10:04] #210 closed, assigned to artem-zinnatullin

[2018-04-24 14:21] charlieporth1 opened #220 "I get a rsync error"
@Gazer @regeda  this is the terminal out put its the same with the mainframer plugin the main machine is OSX and the server is debian both protocols are 31 for rsync
[code]

[2018-04-24 16:59] charlieporth1 commented on #220
https://www.experts-exchange.com/questions/27833470/How-to-resolve-rsync-error-protocol-incompatibility-code-2.html turns out it was bashrc

[2018-04-24 17:05] #220 closed, assigned to nobody

[2018-04-24 17:26] charlieporth1 opened #221 "I get an error with gradle android"
[code]

[2018-04-24 17:36] artem-zinnatullin commented on #221
This is not Mainframer error, but rather something wrong in your Android SDK setup on remote machine.

Also:

1. You shouldn't need `sudo chmod 777 ./gradlew`, Mainframer preserves file modes
1. Never run Gradle builds as `sudo`, that's a recipe for disaster

[2018-04-24 17:36] #221 closed, assigned to artem-zinnatullin

[2018-04-28 23:01] vibin commented on #17
This tool might have just saved my MBP from choking. Thank you!

Normal builds: 20-25 secs
Clean builds: 50 secs

On a t2.large EC2 instance, with a lot of kapt (AutoValue and data-binding)!

[2018-05-01 16:36] vibin opened #222 "Android Studio 3.1 automatically keeps adding "Gradle-aware Make""
Hi, this is orthogonal to this tool's features, but I was wondering if you guys have any workarounds for this issue.

I have a run config with just a single External tool task which runs mainframer. Whenever I open Android Studio, it changes this run config and adds Gradle-aware Make to it - which is unnecessary and slows the build.

AS shows a popup like this:

<img width="399" alt="as-update-run

[2018-05-01 16:40] vibin commented on #222
Oh well, this is a dupe of https://github.com/elpassion/mainframer-intellij-plugin/issues/185.

[2018-05-01 16:59] vibin commented on #222
Woot! There's a fix: https://issuetracker.google.com/issues/77840239#comment3

[2018-05-01 16:59] #222 closed, assigned to nobody

[2018-05-19 11:40] ntziolis commented on #159
Any update on this? This would significantly add usefulness to mainframer as many tools especially on the frondend provide continuous build.

[2018-05-21 23:24] artem-zinnatullin commented on #159
No updates so far, there is an unfortunate conflict between Mainframer being continuous and a build tool being continuous

Mainframer doesn't just sync your files, it also executes a command. It's unclear how should one run both and have proper execution updates

You can obviously run separate Mainframer or ssh with continous build command and then run something like `mainframer --continuous true`

[2018-05-22 00:25] artem-zinnatullin opened #224 "Interactive SSH session as an option."
Problem:

Build tools like Gradle and Buck can output build progress much nicely if run in interactive mode, ie Gradle and Buck will show interactive progress of parallel build which is much easier to look at compared to plain build log.

Solution:

To enable that properly we can pass `-t` option to `ssh` which will *try* to allocate pseudo-terminal thus properly setting [`TERM` env variable](http

[2018-05-22 00:29] ntziolis commented on #159
Thank you for that! If that does continuous forth and back of provided directories than that solves our use case. Can you confirm it does both ways continous?

The toolchains that support continuous build have to deal with wrong partials all the time hence i think file sync should be just fine and we can live with the extra step of starting the build service.

[2018-05-22 00:39] artem-zinnatullin opened #225 "Configuration files format."
Just want to get discussion around configuration files format we use.

Right now it's https://en.wikipedia.org/wiki/.properties, which is fast to parse and easy to read & write.

However it's not super common among other tools and it doesn't have a standartized way to have sections in it and it doesn't look very structured. However I like that it maps 1:1 with command-line args we'll be adding in

[2018-05-22 00:45] artem-zinnatullin commented on #159
Wait wait, we don't have continuous execution mode in Mainframer yet.

Let's call it `--continuous-execution` for now. It'll basically be running `mainframer remote-command` periodically/on-file change which is very different from `remote-command` being continuous itself

We're thinking about `--continuous-execution` and if we decide to go with it it'll conflict with continuous commands.

There is

[2018-05-22 21:45] ghost opened #226 "Windows support"
Hello guys, all users in our team have a windows machine and the build is quietly slow. So I wanted to start using the mainframer and speed up the process of build. I have created the remote server where is ssh enabled. The problem is, I cannot run the correct configuration from my windows machine to successfully connect and communicate with server via rsync. Can you please help me? Thank you very

[2018-05-22 22:53] artem-zinnatullin commented on #226
Hi @mrstefi92!

None of Mainframer maintainers use Windows for development, so we can't really provide great advice

However, I think you should be able to use Mainframer from Unix environment on Windows:

- [Windows Subsystem for Linux](https://docs.microsoft.com/en-us/windows/wsl/install-win10)
- [Cygwin](https://www.cygwin.com/install.html)

Personally I would recommend Cygwin as it's much more

[2018-05-23 00:17] artem-zinnatullin commented on #225
Actually, I'm wrong, configuration file keys won't 1:1 match commandline arguments.

ie

[code]

vs

[code]

[2018-05-23 08:52] yunikkk commented on #226
btw some issues were discussed before https://github.com/gojuno/mainframer/issues/180.

We've manage to setup mainframer on Windows host then but then faced the same issues with sync speed =\

[2018-05-23 09:52] artem-zinnatullin commented on #226
Parallel sync in Mainframer 3.x might compensate sync speed problem

[2018-05-23 09:53] artem-zinnatullin commented on #226
@yunikkk did you use Cygwin or Linux subsystem? I wonder if Cygwin manages to get better IO speeds

[2018-05-23 10:14] yunikkk commented on #226
As far as i remember we used cygwin. Will ask Kostya for more details when he is back from vacation, it was his home machine

[2018-05-24 15:51] bmc08gt commented on #226
WSL works great and is what I am using currently, have builds running through Android Studio as well. :)

[2018-05-24 20:31] stefi92 commented on #226
thank you for answers, i give it a try tommorow :)

[2018-05-26 13:34] ghost commented on #226
@bmc08gt are you using java jdk from windows system or have you installed the another on WSL?

[2018-05-26 15:12] bmc08gt commented on #226
@mrstefi92 Java installed in windows.

[2018-05-28 12:54] lukaville commented on #225
What do you think about https://github.com/lightbend/config?

[2018-05-30 06:24] ghost commented on #226
Thank you very much guys for your help, with WSL mainframer works great and it's also easy to modify the mainframer.sh file with custom configurations!

[2018-06-01 21:46] bmc08gt commented on #224
-tt may be required as I was getting this running this from WSL (client)-> OSX (remote).

`Pseudo-terminal will not be allocated because stdin is not a terminal.`

adding `-tt` to the ssh command in the 2.1.0 script gave me back the beautiful gradle colors.

[2018-06-01 22:17] artem-zinnatullin commented on #224
Right, I also use `-tt` in my version :)

[2018-06-01 22:18] bmc08gt commented on #224
:) Are you guys accepting PR's on the 2.1.X script?

[2018-06-01 22:18] artem-zinnatullin commented on #224
Although, looks like some escape characters slip through and break my terminal session, for example `git status` after running interactive Mainframer prints output with broken tabulation (everything is shifted to the right)

@bmc08gt have you noticed something like this?

[2018-06-01 22:19] Pozzoooo commented on #224
I've been using with interactive mode for a while now (only -t in my case) with the old bash mainframer, haven't got any issue, another advantage is Ctrl+C being sent to the remote machine

[2018-06-01 22:19] artem-zinnatullin commented on #224
@bmc08gt nope, 2.x is frozen, particularly this feature requires configuration options (not everyone might want it), so it's not just adding `-tt` to `ssh` call

[2018-06-01 22:21] artem-zinnatullin commented on #224
@Pozzoooo Ctrl + C can be supported even in non-interactive mode in 3.x, but I'm still unsure if we need to, sometimes I want to keep remote machine doing what I started even if I stop Mainframer locally

[2018-06-01 22:25] Pozzoooo commented on #224
for that case I would suggest "&" or Ctrl + Z.... it might be me, but I quite often remember I forgot to change something just after hitting enter to compile

[2018-06-01 22:34] artem-zinnatullin commented on #224
Fair 👍

[2018-06-14 07:15] dkonurov commented on #177
Can help this:
1) remote open /etc/enviroment
2) add on new line ANDROID_HOME = {FOLDER_ANDROID_SDK}
3) reboot remote machine

[2018-06-20 18:42] arturdryomov commented on #225
I’m going to throw [TOML](https://github.com/toml-lang/toml) in.

[2018-06-27 07:21] dkonurov commented on #226
Hello everyone, client on Windows (10), remote on Linux (Ubuntu 16.04) and extreme slow speed rsync
on local machine
Sync done: took 5 minutes 7 seconds.

How I can debbug rsync?

[2018-06-27 13:44] bmc08gt commented on #226
NTFS by nature is slow. Limit what is synced back to the client. Iirc the
next release will support a remoteinclude so you can better filter it, but
existing shell script can easily be modified to support it.
On Wed, Jun 27, 2018 at 3:21 AM Dmitry Konurov <notifications@github.com>
wrote:

[2018-07-02 12:07] dhartwich1991 opened #227 "Not enough performance gain on massive server"
Hello @artem-zinnatullin @ming13
I need your help here.
We recently got new machines `Intel(R) Xeon(R) Gold 5118 CPU @ 2.30GHz` @ 48 cores and `188 Gigs` of RAM.
However, when trying to compile the app remotely on one of these machines the performance gain was very little (maximum 5%)

Are there any options I can set in order to profit from this hardware?
I know this issue is not really related bu

[2018-07-02 12:55] Pozzoooo commented on #227
Some more info would be nice.

What type of project are you compiling?
What is the compile time on your local machine?
Is it the compile time the issue or the synchronisation time?

Nice specs!

[2018-07-02 13:25] arturdryomov commented on #227
@dhartwich1991, do you execute the same command? Is the pure Gradle time better (excluding the transfer)?

You can start with something isolated, like this one.

[code]

[2018-07-02 14:01] dhartwich1991 commented on #227
Hey @Pozzoooo @ming13
The project (Android) is quite big and not modularized nicely yet.
Locally clean build takes around 15 minutes and I'm getting the same (eventually even slower) builds on the remote machine.

The problems don't come from the sync, that's usually fast. Just the compilation itself takes for ever.

Thank you!

[2018-07-02 14:52] Pozzoooo commented on #227
15 mins build must be really big project, Nice!

There might be some bottleneck limiting your compile time;

In a specs like this I would say that it is more likely to be configuration than anything else, but it is always good to keep an eye on tools like `htop`, `iotop` and `iftop` to make sure you don't have any hardware bottleneck;
On the configuration side I would personally check any memory l

[2018-07-02 15:39] arturdryomov commented on #227
@dhartwich1991, can you please share following outputs?

[code]

[2018-07-02 15:47] dhartwich1991 commented on #227
<details><summary>meminfo</summary>
<p>

[code]

</p>
</details>

<details><summary>cpuinfo</summary>
<p>

[code]

</p>
</details>

<details><summary>df -h</summary>
<p>

[code]

</p>
</details>

[2018-07-02 16:08] arturdryomov commented on #227
@dhartwich1991, the hardware itself seems to be fine. Let’s move from anything Java specific and compare bare things.

[code]

[2018-07-03 06:58] tony-root commented on #227
Hey guys!

One guess from my side is that the Android toolchain itself cannot take the full advantage of those 48 cores and 188 Gb ram.
Let's say, from the top of my head, 4 cores and 8Gb ram is the maximum it can utilize.

Then the CPU frequency becomes the bottleneck, as 2.30Ghz ~ frequency of Intel Core i5 of MacBook Pro CPU.
Again, I'm not sure it's correct to compare single core of Intel Core

[2018-07-03 07:21] dhartwich1991 commented on #227
@ming13

<details><summary>time make </summary>
Results of make for tig

[code]
</details>

<details><summary> local `time make`</summary>

[code]
</details>

[2018-07-03 07:24] dhartwich1991 commented on #227
@AntonRutkevich Yea that could be :( I don't hope so but would be interesting to see to which limits we can push it where are possibilites for optimization etc.

[2018-07-03 07:33] arturdryomov commented on #227
@dhartwich1991, can you please show the same build result on a local machine you are comparing it to?

[2018-07-03 07:44] dhartwich1991 commented on #227
@ming13
Added local times Macbook Pro Mid 2014 2.6 GHz Intel i5 16gb of ram

[2018-07-03 11:15] arturdryomov commented on #227
@dhartwich1991, seems like the local machine has better single-core performance, that’s the possible reason behind the picture you are observing. It actually makes sense since the remote machine clearly has server-grade hardware which is not generally aimed on single-thread operations. You can pick a C-project like `tig` and experiment with the `-j` option to see if the parallel compilation works

[2018-07-03 11:15] #227 closed, assigned to nobody

[2018-07-03 11:27] dhartwich1991 commented on #227
@ming13 Okay, I guess that makes sense then :) Guess gradle is the real problem here then, since it doesn't really use all the cores in an effiient matter. Sucks :( Still I agree offloading to an external machine makes more sense! Thank you very much for the support in figuring this out together! Much appreciated!

[2018-07-03 11:59] Pozzoooo commented on #227
It's weird that it has no difference in such a hardware, there must be something limiting it's performance, especially now that it is much easier to buy a lot of CPU cores, limiting it to 4 cores would be really sad.

[2018-08-22 08:08] creati8e commented on #226
@bmc08gt can you share your WSL config please?

[2018-08-22 12:49] bmc08gt commented on #226
My **.mainframer/config** is:

    remote_machine=mainframer
    remote_compression_level=3

My **.mainframer/ignore** and **.mainframer/localignore** are the standard Android rules.

Where things change a little bit are the **.mainframer/remoteignore** and my added **.mainframer/remoteinclude**. I have modified the bash mainframer script to allow finer grain control over what get's synced back fr

[2018-08-23 21:09] creati8e commented on #226
@bmc08gt thank you a lot!
`If you would like the patch for the mainframer bash script (v2), I would be more than happy to upload it as gist.`  - Yes, please

[2018-08-23 21:27] artem-zinnatullin commented on #226
I'd also like to see what patches do you apply to `mainframer.sh`

Version 3 will ship binary releases because we've switched to Rust for development, so such patches can be a bit harder to apply on your side (sources are of course open, but still)

There is a plan to add simple Plugin System #182 that should allow some behavior changes without changing the Mainfraimer itself, maybe that'll be the

[2018-08-24 01:13] bmc08gt commented on #226
@artem-zinnatullin @creati8e

https://gist.github.com/bmc08gt/c5141f0bed37f43ea97dd7af151def25 Here is the patch file that you can apply to the existing v2 script.

This has the remoteinclude functionality, as well as an success exit code to allow chaining multple mainframer executions together.

Oh and the interactive (-tt) option enabled from #224

[2018-08-31 01:58] guelo opened #228 "Instrumented unit tests"
Is there any way to run instrumented android tests with mainframer? connectedAndroidTest doesn't work because it tries to start adb on the remote.

[2018-09-02 21:33] artem-zinnatullin commented on #228
You can build everything on remote machine for instrumentation tests, appropriate Gradle tasks have `androidTest` in the name

ie

[code]

Where `run-tests-locally` is command to run tests on locally connected emulator/device using apks built remotely

[2018-09-02 21:33] #228 closed, assigned to nobody

[2018-09-07 00:07] guelo commented on #228
Has anyone has figured out how to hook into Android Studio's instrumented test runner?

[2018-09-07 03:47] artem-zinnatullin commented on #228
What exactly do you mean?

[2018-09-07 04:09] guelo commented on #228
I mean an Android Studio Configuration to run Instrumented tests the same way we can do for JUnit tests using `mainframer ./gradlew compileDebugUnitTestSources mockableAndroidJar`

[2018-09-07 05:05] artem-zinnatullin commented on #228
In the comment above I've explained how to do it.

Running it just via Mainfraimer will run the tests on remote machine which is likely not what you want, that's why I suggest to use Mainframer to **build** remotely but then run locally using results of the remote build.

[2018-09-08 00:54] guelo commented on #228
I don't want to write a script to do the `&& run-tests-locally` part. I want Android Studio to start the emulator, install the apks, show the pretty test results. You have instructions to do that for JVM tests here https://github.com/gojuno/mainframer/tree/development/samples/gradle-android#android-studio-configuration-to-run-junit-tests

 I'd like to have the same thing for Instrumented tests.

[2018-09-08 00:59] JayNewstrom commented on #228
I've had a lot of success using https://github.com/elpassion/mainframer-intellij-plugin

Start by running the test normally, then going into the edit run configurations, copying the one that's automatically created when you run a test, and removing the gradle aware make, and replacing it with the mainframer make.

You also have to disable instant run.

[2018-10-15 06:07] artem-zinnatullin commented on #177
Closing for now, feel free to comment, we might reopen if it's something systematic (I haven't had issues with Android builds I've recently set up)

[2018-10-15 06:07] #177 closed, assigned to nobody

[2018-10-15 06:41] artem-zinnatullin commented on #224
The caveat here is that in interactive mode, remote machine can start emitting escape symbols that slip through Mainframer and break Terminal state on local machine

I've had this with running Gradle, where local machine was macOS and remove was Linux.

The problem is described and discussed here: https://github.com/rust-lang-nursery/cli-wg/issues/57#issue-346366222

[2018-11-13 19:16] matthoffman commented on #225
as an outside observer, I'd suggest YAML, because:
1. it maps cleanly to JSON (it's a superset of JSON), so it's easy to convert it to JSON for machine use. But it's much more readable and easier to write than JSON, of course.
2. it has comments, which I think is pretty essential for a config file
3. it's widely supported by libraries and tooling
4. it's the default for docker, kubernetes, and man

[2018-11-14 06:18] #193 closed, assigned to artem-zinnatullin

[2018-11-14 07:00] artem-zinnatullin commented on #225
As much as I hate YAML working with it on daily basis, I think that's right choice as it covers all our current and potential future needs and has a lot of examples and docs in case someone has problems with it.

@ming13 if you don't have strong objections, I'll start working on it, I need to figure the format before I can start working on #213 and configs merging

---

For sake of mentioning coup

[2018-11-14 09:46] dmitry-novikov commented on #214
Taking into account proposed approach, maybe it's a good idea to resurge @AntonRutkevich idea to replace remote dirs in output with the local ones? https://github.com/buildfoundation/mainframer/pull/184

It should be simpler now because it can be done only via stripping out `~/mainframer` from the output.

[2018-11-14 09:57] artem-zinnatullin commented on #214
That will only work for projects that locally are stored under `~` :(

That's what I wanted too, but @ming13 raised concern:

Absolute path should be good, do you see any problems with it other than deeper nesting in the directories?

[2018-11-14 10:03] dmitry-novikov commented on #214
If you convert local folder to a full path then even `~/projects/my-project` should work.
[code]
Or I miss something?

If I'm right, then to support #184 all you need to do is to replace all `~/mainframer/` with `/` in output.

[2018-11-14 10:07] artem-zinnatullin commented on #214
Ah wait, sorry I misread your original comment, yes I think we can render remote paths as local ones in the output no matter where we put the files remotely

I thought you were proposing to not use absolute paths, my bad, it's time to go sleep I guess

[2018-11-14 10:09] artem-zinnatullin commented on #214
@dmitry-novikov can you please file a separate issue for that with links to @AntonRutkevich 's PR and short description?

Otherwise I'll forget about it again :)

[2018-11-14 10:17] dmitry-novikov opened #237 "Add an option to render remote paths as local ones in the output"
It would be great to have an option to replace all remote paths in the output with the local once to better integrate with local build tools. Original idea was raised by @AntonRutkevich in https://github.com/buildfoundation/mainframer/pull/184.

Taking into account https://github.com/buildfoundation/mainframer/issues/214 implementation should come down to replacement of all `"~/mainframer/"` strin

[2018-11-14 10:18] dmitry-novikov commented on #214
https://github.com/buildfoundation/mainframer/issues/237

[2018-11-14 16:26] arturdryomov commented on #225
YAML is error-prone regarding strings. Technically it is possible to use them without quotes but hell breaks loose easily.

https://stackoverflow.com/a/22235064

I like how it looks though. And we can mitigate the strings issue with samples including quoting.

[2018-11-15 05:40] artem-zinnatullin commented on #225
Strings are definitely problematic in YAML, I'll use quotes in examples and tests 👍

Also, it relies on indentation…

[2018-11-15 06:00] #214 closed, assigned to artem-zinnatullin

[2018-11-22 00:15] artem-zinnatullin opened #238 "Use colors in output"
- Errors: red
- Warnings: yellow
- Success: green

[2018-11-22 04:49] MVMS1994 commented on #224
+1 for this enhancement.
I worked around to get nodejs run on the remote machine with `mainframer`. And to enable colors, I locally added `-t`

[2018-11-26 07:58] artem-zinnatullin opened #240 "Add remote user as configuration parameter"
Right now we rely on `~/.ssh/config` implicitly processed by `ssh`, adding it on our config level will allow project-specific overrides.

Right now it's also possible to set user as part of `remote_machine` like that `user@computer`, which is fine I guess, but should be separate for better project-level override support as part of #213.

[2018-11-26 07:59] artem-zinnatullin opened #241 "Add remote ssh port as configuration parameter"
Right now we fully rely on `~/.ssh/config` implicitly processed by `ssh` and the fact that default port is `22`, adding it on our config level will allow project-specific overrides as part of #213.

[2018-11-28 18:22] artem-zinnatullin opened #242 "Strip symbols from release binaries"
Context: https://twitter.com/artem_zin/status/1067842525317148672

[2018-12-06 07:19] artem-zinnatullin opened #243 "Use i8 for compression values"
This is better use of type system, although it still likely going to take at least i32 in memory on modern systems.

[2018-12-18 16:00] normanmaurer opened #244 "Correctly propagate Control + C"
When hitting Control + C it is not correctly "propagated" to the remote machine. While the build stops locally the processes are still running on the remote machine.

[2018-12-26 16:45] arturdryomov commented on #207
I have a radical proposition to streamline things and remove the baggage.

The proposed documentation structure:

[code]
* As you can see I’ve replaced _local_ and _remote_ terms with _user_ (as user terminal) and _mainframe_. Over time I feel that everybody invents their own name for machines and we might as well bring our own terms more in line with the Mainframer naming. Hopefully it will stick

[2018-12-27 09:29] artem-zinnatullin commented on #207
In general I'm in favor of change, but I do have comments

- Definitely not a fan of "mainframe" and "user" (wut), I'd like us to be consistent with configs and use same terminology, like "remote" and "local"
- "user-examples" should be a directory similar to "integrations", imo, it looks weird in "configuration" dir

[2018-12-27 10:12] arturdryomov commented on #207
Thought about configs as well but we use `push` and `pull` already.

[2018-12-30 06:54] artem-zinnatullin commented on #207
Damn it

[2018-12-30 07:02] artem-zinnatullin commented on #207
Wait, we still have "remote" in config, let's keep "remote" and "local" then?

[2019-01-06 10:08] arturdryomov commented on #206
I vote for replacing it with a text.
### Sample

[code]
[code]
What happened?

1. `echo "It works" > result.txt` was executed on a remote machine.
1. `result.txt` was synced from the remote machine to the local one.
1. `cat result.txt` shows that file contents are as we expect.

The same can be applied to more complex operations:

[code]

[2019-01-06 10:09] arturdryomov commented on #241
Not sure what the use case there is. Multiple ports on the remote machine?

[2019-01-07 08:24] artem-zinnatullin commented on #241
Well, not everyone maintains `~/.ssh/config` for every host, ie I have couple hosts I ssh into that have ssh running on non standard port and I don't have them in my `~/.ssh/config`

[2019-01-07 08:57] artem-zinnatullin commented on #206
Going to copy paste my comment from PR: https://github.com/buildfoundation/mainframer/pull/246#discussion_r245580550

- `>` will pipe on local machine, not remote in your example, quotes are needed
- also, `!` breaks your `"` quoting

Pls run your sample next time :)

Correct version would be:

[code]

But I'd remove "!" to remove escaping

[2019-01-07 13:06] arturdryomov commented on #241
I would still suggest to configure SSH for this. Then the configuration can be applied not only to MF. Using a remote machine still involves using SSH from time to time — to clear caches, kill processes, test excutables. We even mention using SSH to test the connection before configuring MF in the first place.

[2019-01-16 02:19] artem-zinnatullin commented on #241
The reason why I want to allow configuring these things on Mainframer side (including cli params),

is to make Mainframer more friendly for automation in different environments, including CI or scripts, etc where configuring `~/.ssh/config` may be unreasonable

[2019-01-16 03:38] arturdryomov commented on #241
That’s understandable for sure, but at the same time it either means password-based auth and no performance improvements like `ControlPersist`.

[2019-01-16 03:44] arturdryomov commented on #241
Before I forgot. There is a middleground. We can provide an option to create SSH key and put everything in `.ssh/config` for the user. Not sure it is worth it but probably can save some hassle.

[2019-01-16 04:27] artem-zinnatullin commented on #241
That's not true, default ssh key (`~/.ssh/id_rsa`) will be used without an entry in `~/.ssh/config` for the remote host, which is what a lot of people use for everything, like GitHub.

True, prob not very important for automation setups and is configurable anyway if they want.

Definitely not going to do that lol, that's a lot of work and potentially a security issue if we do it wrong.

We can hid

[2019-02-01 09:16] #225 closed, assigned to artem-zinnatullin

[2019-02-04 13:28] ilya-shknaj commented on #226
One note which I faced.
In windows during configuration of the mainframer plugin, it ask input remoteMachine.
In config file, plugin put remoteMachine = .... with new line in the end. It lead to
Sync local → remote machine ...
: Name or service not knownname myHost
rsync: connection unexpectedly closed (0 bytes received so far) [sender]
rsync error: unexplained error (code 255) at io.c (235) [send

[2019-02-16 17:21] febs commented on #159
Well, if the synchronization of files would happen continuously then when it's build time most of the files would have been synced already, thus making the whole process even faster.

[2019-02-19 11:51] lukaville commented on #159
@febs but uploading is not a problem in most cases because developers usually make small changes in the source code and it syncs almost immediately. I think the main benefit here is that we can "pre-build" these changes remotely.

[2019-02-21 15:48] artem-zinnatullin commented on #159
Correct.

We are also thinking about using `inotify`/`fswatch` to optimize sync for large projects, that will reduce time it takes `rsync` to understand what's changed.

[2019-02-21 19:51] charlieporth1 opened #253 "Not really an Issue but Xcode builds are slow this would be amazing for Xcode!"
Not really an Issue but Xcode builds are slow this would be amazing for Xcode!
Thanks
# @[enhancement](/buildfoundation/mainframer/labels/enhancement)  l

[2019-03-05 09:06] artem-zinnatullin commented on #253
You should be able to do it:

- macOS on remote machine with same build tools installed (Xcode, etc)
- in your Xcode you'll need to use building with a script (there is an option for this)

Then you'll get remote build :)

Alternatively, look into Bazel and remote execution.

[2019-03-28 00:18] jpoon opened #255 "Brew Tap Install"
The instructions indicate that I can install `mainframer` from Brew (https://github.com/buildfoundation/mainframer/blob/3.x/docs/getting-started/local-machine.md#macos).

However, the tap `https://github.com/buildfoundation/homebrew-tap` looks like it's a private repo?

[code]

[2019-04-16 05:58] lnnp1910 commented on #255
I also face the same issue. Any update?

[2019-04-26 06:59] AlexeyKorshun commented on #255
can't we use v3 right now?

[2019-04-26 21:07] artem-zinnatullin commented on #255
Please check ["State of the Project" in the readme](https://github.com/buildfoundation/mainframer/tree/2cbed2db820b2fed3a1880a013cebe322932e8c5#state-of-the-project):

Particularly

🙃

---

Docs are a bit ahead of development, it's @ming13's way of pushing me to actually implement what we have in docs I guess lol

[2019-05-01 08:35] artem-zinnatullin opened #257 "Verify file content in tests"
Both push and pull should guarantee content equality once they're finished.

We can verify sha256 of the files.

[2019-05-01 09:51] artem-zinnatullin opened #258 "Include milliseconds in duration output"

[2019-05-04 09:50] artem-zinnatullin commented on #243
Closed by #239.

[2019-05-04 09:50] #243 closed, assigned to artem-zinnatullin

[2019-06-13 14:40] parshav commented on #255
So if I want to use mainframe would I have to clone the repo and manually set it up ?

[2019-06-13 15:08] AlexeyKorshun commented on #255
not if you want to use v2. use this [tutorial](https://github.com/buildfoundation/mainframer/tree/v2.1.0)

[2019-06-13 15:25] parshav commented on #255
Thanks @AlexeyKorshun  I'll keep that in mind. I might stick with the 3.x version, been learning rust and this could be a cool project to get hands on with.
Thanks !

[2019-06-24 22:34] #258 closed, assigned to artem-zinnatullin

[2019-06-24 23:07] #257 closed, assigned to artem-zinnatullin

[2019-06-27 00:35] artem-zinnatullin opened #263 "Consider parallelizing rsync"
We can run rsync in `dry-run` mode and then run rsync in parallel against resulting files/dirs, might end up being faster.

Just an idea.

[2019-06-27 06:29] #188 closed, assigned to artem-zinnatullin

[2019-07-01 18:13] artem-zinnatullin opened #264 "Shorter name of the binary"
`mainframer` is really long thing to type, coworkers of mine usually alias it to `m`, I think `mf` can be a good option in the middle, similarly to how `ripgrep` is `rg`

@ming13 wdyt?

[2019-07-02 03:21] arturdryomov commented on #264
`mf` is awesome, unique and we can have branded socks without making them!

[2019-07-16 19:55] parshav opened #265 "Ignore functionality on 3.x and contribution"
Hey, so Im setting up the 3.x version of mainframer, and notice that the ignore.yml is not respected by mainframer. Looking further, I noticed that `Ignore::from_working_dir()` uses three different files, unlike what is specified in the Readme.
Although I can go in myself and modify the changes, is this the approach the tool will take henceforth ? Is there a board / scope of work for 3.x  that I c

[2019-07-18 23:17] artem-zinnatullin commented on #265
Yeah, sorry about that, we've updated some docs ahead of code. For now you [should define](https://github.com/buildfoundation/mainframer/blob/8454660cb6d0aa717b8915af42240376ac29e543/src/ignore.rs#L14) `.mainframer/ignore` file as it was in [2.x](https://github.com/buildfoundation/mainframer/tree/v2.1.0)

If you want to update the docs to reflect current state, I'd happily accept that change and t

[2019-08-16 14:16] normanmaurer commented on #244
@artem-zinnatullin any idea how we can fix this in the 2.x version as well ?

[2019-09-02 12:45] vganin commented on #219
Hi, is this feature going to make to 2.x? It might come very handy.

[2019-10-10 11:31] zouliping opened #266 "TaskSelectionException: Task 'assembleDebug' not found in root project"
In local machine and remote machine, excuting `gradle --no-daemon assembleDevDebug --stacktrace` can build project successfully.

But when I use mainframer, running `bash /Users/..location../mainframer "gradle --no-daemon assembleDevDebug --stacktrace"`, throws a TaskSelectionException.

What's wrong with configuration or other things?

Gradle version is 5.6.2

Local machine is Mac book pro, using

[2019-10-12 11:53] zouliping commented on #266
Because of non-interactive shell, SSH command get fewer environment variables, so I can not build my project successfully.

By sourcing profile before running gradle command ( `source .bash_profile && gradle assembleDevDebug`), everything gets ok.

refer to : [https://stackoverflow.com/questions/216202/why-does-an-ssh-remote-command-get-fewer-environment-variables-then-when-run-man](https://stacko

[2019-10-12 11:53] #266 closed, assigned to nobody

[2019-12-07 13:42] RotBolt opened #267 "How to make configuration for building iOS from non-mac OS local machine?"
I am developer who has Linux. But want to build for  iOS apps. How could I use Mainframer to build for iOS from my local machine ?

[2020-01-28 11:49] kikermo commented on #255
Any news about this being released?

[2020-02-28 02:02] maiwenchang opened #268 "AndroidStudio 3.6 support request"
When I updated AndroidStudio to 3.6 version. The Mainframer Integration Plugins doesn't work.

[2020-03-09 14:27] forming commented on #268
Any update on this?

[2020-04-02 02:31] lukeduncan-scot commented on #267
I think you'd probably need to start here and work your way back to mainframer
https://developer.apple.com/library/archive/technotes/tn2339/_index.html

[2020-06-19 09:47] egorikftp commented on #268
@forming @maiwenchang https://github.com/elpassion/mainframer-intellij-plugin/issues/196

[2020-06-20 01:19] #268 closed, assigned to nobody

[2020-07-15 09:38] cococolanosugar commented on #224
+1 for this enhancement.

[2020-09-02 08:41] Oleg-Beloy commented on #173
@artem-zinnatullin How is it going? As for us that's an urgent feature especially to speed up particular build configuration. For example for the app build we just need an apk but it wouldn't be enough for tests etc.
At 2.0.0 version we don't have any other option except general ignore rules

[2021-01-15 07:08] BruceWind opened #269 "Installation failed due to: 'Invalid File: /Users/bruce/xxx/xx/app/build/outputs/apk/debug/app-debug.apk'"
Firstly, thanx for Mainframer. It help me reduce tremendous building time.

I found a problem that apk installation failed.
My mainframer version is **2.x**.
And I modify "outputFileName" which is a gradle param.

such as:
[code]

If I disable those code, that problem will gone.

[2021-01-15 07:56] BruceWind commented on #269
I'm going to close this issue because I think that problem was not  caused by ***Mainframer***.
sorry for bothering you all.

[2021-01-15 07:56] #269 closed, assigned to nobody

[2022-09-14 17:37] ChristopherJMiller opened #272 "Moving config parsing to `serde`"
I believe a lot of complexity could be removed by swapping config parsing from a manually process with `yaml-rust` to object deserialization with [serde](https://serde.rs/) with it's [derive feature](https://serde.rs/derive.html) and a supporting [yaml deserializer](https://github.com/dtolnay/serde-yaml).

The Intermediate types could be removed as the deserializer understands optional parameters.

[2022-09-18 06:00] akshob commented on #267
@RotBolt You can probably start with [cctools-port](https://github.com/tpoechtrager/cctools-port) which is a cross compiler toolchain that includes building iOS binaries from Linux ([example usage](https://github.com/tpoechtrager/cctools-port/tree/master/usage_examples/ios_toolchain)).

[2022-09-18 15:29] artem-zinnatullin commented on #272
Sounds good, I'd like to get rid of intermediate_config stuff https://github.com/buildfoundation/mainframer/blob/dc6e11db04b4e14e72cc406aaafc874a1c24ba91/src/intermediate_config.rs#L16

Just make sure to keep config validation :)

[2022-09-18 15:43] artem-zinnatullin commented on #267
Hi @RotBolt, just want to clarify few things so we're on the same page:

- Mainframer doesn't help with setting up coding or build environment, it 1) pushes project files to remote machine 2)  runs arbitrary command like `xcode build` on a remote machine 3) pulls files back from remote machine
- To build iOS app with Mainframer you need remote machine to be either macOS with Xcode build toolchain

[2022-09-18 15:44] artem-zinnatullin commented on #267
Just realized this is quite an old issue that got recent replies, sorry I didn't respond back then, hopefully all the answers in the thread will help someone with similar question.

Closing, but feel free to comment!

[2022-09-18 15:44] #267 closed, assigned to nobody

[2022-09-19 10:06] artem-zinnatullin commented on #242
Cargo [stabilized `strip` feature](https://doc.rust-lang.org/cargo/reference/profiles.html#strip), we need to look into it and compare results with `strip` util

[2022-09-19 10:12] artem-zinnatullin opened #274 "Split Linux CI job into build and separate integration test job"
Currently macOS job takes 50 seconds while Linux takes 9 minutes due to integration tests

We should:

- Extract integration tests into a separate job
- Use GitHub Actions caching to speedup cargo build

[2022-09-19 10:15] artem-zinnatullin opened #275 "Build binaries for most popular CPU architectures"
Currently we only build x86_64 binaries for macOS and Linux, however we should at least add arm64 targets to both OS platforms to support environments like M1, M2 Macs and Raspberry PIs and such on Linux.

[2022-09-20 10:52] #274 closed, assigned to artem-zinnatullin

[2022-09-20 18:44] artem-zinnatullin commented on #272
Heads up: @ChristopherJMiller pls make sure you're on updated 3.x branch when you start working on this, I've merged quite a few infrastructure updates in last few days 😬

[2022-09-22 10:35] #242 closed, assigned to artem-zinnatullin

[2022-09-26 18:32] ChristopherJMiller commented on #272
PR is up at #282 !

[2022-09-27 01:15] akshob opened #283 "Use `tracing` crate instead of `println`"
Currently logs are printed on the command line via `println`. Replacing all the logs with `tracing::info!` and `tracing::debug!` would give flexibility with where we show the output - terminal, log file, or upload to a telemetry service using open telemetry.
It is also possible to pipe the `stdout` and `stderr` of `rysnc` and `gradlew`, so we can choose to filter it out (without relevant command l

[2022-10-05 10:11] artem-zinnatullin commented on #283
Currently all the logs that Mainframer prints are expected to be seen by user

Perhaps we could add `--quiet` flag that might rely on something like `tracing` to suppress the output.

With regards to logging into a log file or uploads to telemetry servers — this is not needed as Mainfraimer is a CLI tool for users, not a backend service or something like this I'd say :)

[2022-10-05 14:13] ChristopherJMiller opened #284 "Parallel Duration support in config spec"
The config spec needs to be updated to define the parallel pull's duration.

Internally, mainframer supported this functionality with `PullMode::Parallel(Duration)`, but with the introduction of #282 this had to be removed due to the inability to serialize/deserialize this enum type in yaml.

To keep compatibility with previous configs in addition to supporting this functionality, I propose an ext